@model GoOutRegistration
@{
    var title = "";
    if (ViewBag.flag == 0)
    {
        title = "新增外出登记";
    }
    else
    {
        title = "编辑外出登记";
    }
}

<div class="container-edit-zeniths">
    <form class="editform" action="@Url.Action("Save")" method="POST" role="form">
        <div class="panel panel-default panel-zeniths">
            <div class="panel-heading">
                <span class="prefix"> <strong>@Model.Id</strong></span>
                @title
            </div>
            <div class="panel-body">
                @Html.AntiForgeryToken()
                <input type="hidden" name="@nameof(Model.Id)" value="@Model.Id" />
                <table class="table table-form table-dialog-form">
                    <tr>
                        <th class='w-100px'><label class="control-label">姓名</label></th>
                        <td>
                            <div class="input-icon right">
                                <input class="form-control" name="@nameof(Model.Name)" value="@Model.Name" type="text" placeholder="请输入姓名" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">外出事由</label></th>
                        <td>
                            <div class="input-icon right">
                                <textarea class="form-control" name="@nameof(Model.GoOutReason)" rows="3">@Model.GoOutReason</textarea>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">外出时间</label></th>
                        <td>
                            <div class="input-icon right">
                                <input class="datetime-control form-control" name="@nameof(Model.GoOutTime)" value="@Model.GoOutTime" type="text" autocomplete="off" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">预计返回时间</label></th>
                        <td>
                            <div class="input-icon right">
                                <input class="datetime-control form-control" name="@nameof(Model.BackTime)" value="@Model.BackTime" type="text" autocomplete="off" />
                            </div>
                        </td>
                    </tr>                  
                    <tr>
                        <th><label class="control-label">备注</label></th>
                        <td>
                            <div class="input-icon right">
                                <textarea class="form-control" name="@nameof(Model.Remarks)" rows="3">@Model.Remarks</textarea>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-footer text-center">
                <div class="buttons">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i> 保存
                    </button>
                    &nbsp;
                    <a class="btn btn-default btnClose" onclick="zeniths.util.closeFrameDialog(window);">
                        <i class="fa fa-sign-in"></i> 关闭
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>

@section style{
    <link href="~/Plugin/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
}

@section script{
<script src="~/Plugin/bootstrap-daterangepicker/js/moment.min.js"></script>
<script src="~/Plugin/bootstrap-daterangepicker/js/zh-cn.js"></script>
<script src="~/Plugin/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script>
        $(function () {
            $('.editform').dataform().initDateTimePicker().initiCheck().initValidate({
                rules: {                  
                    Name: {
                        required: true,
                        maxlength: 100
                    },                    
                    GoOutReason: {
                        required: false,
                        maxlength:1000
                    },
                    GoOutTime: {
                        required: true
                    }
                },
                messages: {
                    Name: {
                        required: '请填写姓名',
                        maxlength: '姓名长度不能超过100'
                    },
                    GoOutReason: {
                        maxlength: '外出事由不能超过1000'
                    },
                    GoOutTime: {
                        required: '请选择外出时间'
                    }
                },
                beforeSubmit: function () {
                }
            }).initAjax({ success: zeniths.util.formAjaxSuccess });
        });

    </script>
}