@model OAWorkLog
@{
    var title = "查看工作日志";
}

<div class="container-edit-zeniths">
    <form class="editform" action="@Url.Action("Save")" method="POST" role="form">
        <div class="panel panel-default panel-zeniths">
            <div class="panel-heading">
                <span class="prefix"> <strong>@Model.Id</strong></span>
                @title
            </div>
            <div class="panel-body">
                @Html.AntiForgeryToken()
                <input type="hidden" name="@nameof(Model.Id)" value="@Model.Id" />
                <table class="table table-form table-dialog-form">                
                    <tr>
                        <th class="w-150px">
                            <label class="control-label">日志日期：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@DateTimeHelper.FormatDate(Model.LogDate)</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">本日工作总结：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.WorkSummary</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">明日工作计划：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.TomorrowPlan</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">其他说明：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.OtheInstructions</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">创建用户主键：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.CreateUserId</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">创建用户姓名：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.CreateUserName</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">创建时间：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@DateTimeHelper.FormatDateHasSecond(Model.CreateDateTime)</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">创建人部门主键：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.CreateDepartmentId</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">创建人部门名称：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.CreateDepartmentName</p>
                        </td>
                    </tr>
                                    
                </table>
            </div>
            <div class="panel-footer text-center">
            <div class="buttons">
                <a class="btn btn-default btnClose" onclick="zeniths.util.closeFrameDialog(window);">
                    <i class="fa fa-sign-in"></i> 关闭
                </a>
            </div>
        </div>
        </div>
    </form>
</div>