@model PageList<OAWorkLog>
@{
    Layout = null;
}
<table class="table table-zeniths table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="w-checkbox">
                <label><input class="checkbox-check" type="checkbox"><span></span></label>
            </th>            
            <th class="w-100px text-center" data-order="@nameof(OAWorkLog.LogDate)">日志日期</th>
            <th class="w-100px text-center" data-order="@nameof(OAWorkLog.WorkSummary)">本日工作总结</th>
            <th class="w-100px text-center" data-order="@nameof(OAWorkLog.TomorrowPlan)">明日工作计划</th>
            <th class="w-100px text-center" data-order="@nameof(OAWorkLog.OtheInstructions)">其他说明</th>
            <th class="w-100px text-center" data-order="@nameof(OAWorkLog.CreateDateTime)">创建时间</th>
            <th class="w-120px text-center">操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model)
        {
            <tr class="cursor-pointer" data-url="@Url.Action("Details",new {id = record.Id})">
                <td>
                    <label><input class="checkbox-check" type="checkbox" value="@record.Id"><span></span></label>
                </td>
                <td class="text-center">@DateTimeHelper.FormatDate(record.LogDate)</td>
                <td>@Html.Raw(record.WorkSummary)</td>
                <td>@Html.Raw(record.TomorrowPlan)</td>
                <td>@Html.Raw(record.OtheInstructions)</td>
                <td class="text-center">@DateTimeHelper.FormatDateHasSecond(record.CreateDateTime)</td>
                <td>
                    <a class="btn btn-default btn-xs purple-stripe btnRecordView" data-url="@Url.Action("Details",new {id = record.Id})">
                        <i class="fa fa-eye"></i> 查看
                    </a>
                    <a class="btn btn-default btn-xs green-stripe btnRecordEdit" data-url="@Url.Action("Edit",new {id = record.Id})">
                        <i class="fa fa-edit"></i> 编辑
                    </a>
                    <a class="btn btn-default btn-xs green-stripe btnRecordShare" data-url="@Url.Action("Share",new {id = record.Id})">
                        <i class="fa fa-share"></i> 分享
                    </a>
                    <a class="btn btn-default btn-xs red-stripe btnRecordDelete" data-url="@Url.Action("Delete",new {id = record.Id})">
                        <i class="fa fa-trash-o"></i> 删除
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.RenderPages(Model)