@model OAWorkLog
@{
    var title = "分享我的工作日志";
}

<div class="container-share-zeniths">
    <form class="shareform" action="@Url.Action("shareUser")" method="POST" role="form">
        <div class="panel panel-default panel-zeniths">  
            <div class="panel-heading">
                <span class="prefix"> <strong>@Model.Id</strong></span>
                @title
            </div>
            <div class="panel-body">   
                @Html.AntiForgeryToken()       
                <div class="col-md-12">
                    <input type="hidden" name="@nameof(Model.Id)" value="@Model.Id" />
                    <span>请选择用户:</span>
                    <select class="select2-control form-control" id="shareUser" name="shareUser"
                            style="width:96%" multiple>
                        <option value=""></option>
                        @Html.UsersOptions()  
                    </select>
  
                </div>
            </div>
            <div class="panel-footer text-center">
                <div class="buttons">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-share"></i> 分享
                    </button>
                    &nbsp;
                    <a class="btn btn-default btnClose" onclick="zeniths.util.closeFrameDialog(window);">
                        <i class="fa fa-sign-in"></i> 关闭
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
@section script{
    <script>
        $(function () {
            //$('.editform').dataform().initSelect2().initiCheck().initDatePicker()
            $('.shareform').dataform().initSelect2().initValidate({
                rules: { },
                messages: {},
                beforeSubmit: function () {
                }
            }).initAjax({
                success: function (result) {
                    
                    zeniths.util.alert(result.message);
                    zeniths.util.formAjaxSuccess(result);
                }
            });
        });
    </script>
}