@model EmployeeGoOutRegistration
@{
    var title = "查看外出登记";
}

<div class="container-edit-zeniths">
    <form class="editform" action="@Url.Action("Save")" method="POST" role="form">
        <div class="panel panel-default panel-zeniths">
            <div class="panel-heading">
                <span class="prefix"> <strong>@Model.Id</strong></span>
                @title
            </div>
            <div class="panel-body">
                @Html.AntiForgeryToken()
                <input type="hidden" name="@nameof(Model.Id)" value="@Model.Id" />
                <table class="table table-form table-dialog-form">
                    <tr>
                        <th class="w-250px" >
                            <label class="control-label">员工姓名：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.EmployeeName</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">外出事由：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.GoOutReason</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">预计外出时间：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@DateTimeHelper.FormatDateHasSecond(Model.GoOutDateTime)</p>
                        </td>
                    </tr>                                
                    <tr>
                        <th >
                            <label class="control-label">预计返回时间：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@DateTimeHelper.FormatDateHasSecond(Model.PlanBackDateTime)</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="control-label">申请时间：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@DateTimeHelper.FormatDateHasSecond(Model.ApplyDateTime)</p>
                        </td>
                    </tr>  
                    <tr>
                        <th>
                            <label class="control-label">备注：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.Note</p>
                        </td>
                    </tr>    
                    <tr>
                        <th>
                            <label class="control-label">实际外出时间：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@DateTimeHelper.FormatDateHasSecond(Model.RealGoOutDateTime)</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">实际返回时间：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@DateTimeHelper.FormatDateHasSecond(Model.RealBackDateTime)</p>
                        </td>
                    </tr>                  
                    <tr>
                        <th >
                            <label class="control-label">主管领导是否同意：</label>
                        </th>
                        <td>
                            @if (Model.GeneralManagerIsAudit == null)
                            {
                                <p class="form-control-static"></p>                           
                            }
                            else
                            {
                                <p class="form-control-static">@Html.BoolLabelIsAgree(Model.GeneralManagerIsAudit)</p>
                            }                            
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">主管领导意见：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.GeneralManagerOpinion</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">主管领导签字：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.GeneralManagerSign</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">主管领导签字日期：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@DateTimeHelper.FormatDateHasSecond(Model.GeneralManagerSignDate)</p>
                        </td>
                    </tr>
                    @*<tr>
                        <th >
                            <label class="control-label">创建用户姓名：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.CreateUserName</p>
                        </td>
                    </tr>   
                    <tr>
                        <th >
                            <label class="control-label">创建时间：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@DateTimeHelper.FormatDateHasSecond(Model.CreateDateTime)</p>
                        </td>
                    </tr>*@
                                    
                </table>
            </div>
            <div class="panel-footer text-center">
            <div class="buttons">
                <a class="btn btn-default btnClose" onclick="zeniths.util.closeFrameDialog(window);">
                    <i class="fa fa-sign-in"></i> 关闭
                </a>
            </div>
        </div>
        </div>
    </form>
</div>