@model PageList<SystemDictionaryDetails>
@{
    Layout = null;
}
<table class="table table-zeniths table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="w-checkbox">
                <label><input class="checkbox-check" type="checkbox"><span></span></label>
            </th>
            <th class="w-350px" data-order="@nameof(SystemDictionaryDetails.Name)">明细项名称</th>
            <th class="w-350px" data-order="@nameof(SystemDictionaryDetails.Value)">明细项值</th>
            <th class="w-100px text-center" data-order="@nameof(SystemDictionaryDetails.IsEnabled)">状态</th>
            <th class="w-100px text-center" data-order="@nameof(SystemDictionaryDetails.SortIndex)">序号</th>
            <th class="w-130px text-center">操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model)
        {
            <tr>
                <td>
                    <label><input class="checkbox-check" type="checkbox" value="@record.Id"><span></span></label>
                </td>
                <td>@record.Name</td>
                <td>@record.Value</td>
                <td class="text-center">@Html.BoolFaIcon(record.IsEnabled)</td>
                <td class="text-center">@record.SortIndex</td>
                <td>
                    <a class="btn btn-default btn-xs green-stripe btnRecordEdit" data-url="@Url.Action("EditDetails",new {id = record.Id})">
                        <i class="fa fa-edit"></i> 编辑
                    </a>
                    <a class="btn btn-default btn-xs red-stripe btnRecordDelete" data-url="@Url.Action("DeleteDetails",new {id = record.Id})">
                        <i class="fa fa-trash-o"></i> 删除
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.RenderPages(Model)
