@model SystemDictionary
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="easyui-layout" fit="true" border="false">
    <div region="west" split="true" title="数据字典" border="false" style="width:200px;background-color: #fafafa;"
         data-options="headerCls:'panel-right-border',bodyCls:'panel-right-border'">
        <ul class="treeDetails treeMenu" fit="true"></ul>
    </div>
    <div region="center" border="false" title="字典明细" style="background-color: #fafafa;"
         data-options="headerCls:'panel-left-border',bodyCls:'panel-left-border'">

        <div class="container-zeniths">
            <div class="panel panel-default panel-zeniths">

                <div class="panel-body">
                    <div class="search-panel-zeniths">
                        <form class="form-inline search-form">
                            <div class="form-group">
                                <input class="w-250px form-control" id="detailsKey" name="detailsKey" type="text" placeholder="请输入字典明细项名称关键字查询">
                            </div>
                            &nbsp;
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-search"></i> 查询
                            </button>
                            <a class="btn btn-success" id="btnCreate" data-url="@Url.Action("Create")">
                                <i class="fa fa-plus"></i> 新建
                            </a>
                            <a class="btn btn-danger" id="btnDelete" data-url="@Url.Action("Delete")">
                                <i class="fa fa-trash-o"></i> 删除
                            </a>
                            <a class="btn btn-default" id="btnRefresh">
                                <i class="fa fa-repeat"></i> 刷新
                            </a>
                            <a class="btn btn-default" href="@Url.Action("Export")">
                                <i class="fa fa-share-square-o"></i> 导出
                            </a>
                        </form>
                    </div>
                    <div class="datagrid" data-url="@Html.Raw(Url.Action("DetailsGrid"))">
                    </div>
                    <!-- 右键菜单 -->
                    <div class="easyui-menu" id="dictionary-menu">
                        <div data-options="name:'add',iconCls:'icon-add'">新建</div>
                        <div data-options="name:'edit',iconCls:'icon-pencil'">编辑</div>
                        <div class="menu-sep"></div>
                        <div data-options="name:'delete',iconCls:'icon-delete'">删除</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section style{
    <link href="~/Assets/jquery-easyui/css/panel.css" rel="stylesheet" />
    <link href="~/assets/jquery-easyui/css/layout.css" rel="stylesheet" />
    <link href="~/assets/jquery-easyui/css/tree.css" rel="stylesheet" />
    <link href="~/Assets/jquery-easyui/css/menu.css" rel="stylesheet" />
    <link href="~/assets/web/css/easyui-fix.css" rel="stylesheet" />
    <link href="~/assets/jquery-easyui-full/css/icon.css" rel="stylesheet" />
}
@section script
{
    <script src="~/Assets/jquery-easyui/js/jquery.parser.js"></script>
    <script src="~/Assets/jquery-easyui/js/jquery.draggable.js"></script>
    <script src="~/Assets/jquery-easyui/js/jquery.droppable.js"></script>
    <script src="~/Assets/jquery-easyui/js/jquery.resizable.js"></script>
    <script src="~/Assets/jquery-easyui/js/jquery.panel.js"></script>
    <script src="~/Assets/jquery-easyui/js/jquery.layout.js"></script>
    <script src="~/Assets/jquery-easyui/js/jquery.tree.js"></script>
    <script src="~/Assets/jquery-easyui/js/jquery.menu.js"></script>
    <script>

        $(function () {

            function editDictionaryData(url, grid) {
                zeniths.util.dialog(url, 600, 370, {
                    callback: function () {
                        grid.reload();
                    }
                });
            }

            function searchGrid() {
                var node = $('.treeDetails').tree("getSelected");
                if (!node) {
                    zeniths.util.msg('请选择数据字典');
                    return;
                }

                $('.datagrid').datagrid().search({
                    dictionaryId: node.id,
                    detailsKey: $('#detailsKey').val()
                });
            }

            function initTree() {
                $('.treeDetails').tree({
                    //lines: true,
                    url: '/Auth/SystemDictionary/GetDictionaryList',
                    animate: true,
                    onBeforeLoad: function (node, param) {
                        $(this).parent().parent().mask('正在加载数据字典...');
                    },
                    onLoadSuccess: function (node, data) {
                        $(this).parent().parent().unmask();
                    },
                    onContextMenu: function (e, node) {
                        e.preventDefault();
                        $(this).tree('select', node.target);
                        $('#dictionary-menu').menu('show', {
                            left: e.pageX,
                            top: e.pageY
                        });
                    },
                    onClick: function (node) {
                        $(this).tree('toggle', node.target);
                        searchGrid();
                        //if (node.url) {
                        //    self.createTab(node.text, node.url, node.iconCls);
                        //}
                    }
                });
            }

            function menuHandler(item) {
                if (item.name === 'add') {
                    editDictionaryData('@Url.Action("CreateDictionary", new { parentId = 0 })', '');
                }
                else if (item.name === 'edit') {

                }
                else if (item.name === 'delete') {

                }
            }

            $('#dictionary-menu').menu({
                onClick: menuHandler
            });

            $('.search-form').find(':submit:first').on('click', function () {
                searchGrid();
                return false;
            });

            initTree();
        });
    </script>
}
