@{
    Layout = "~/Views/Shared/_LayoutTreeBase.cshtml";
}

<div class="easyui-layout" fit="true" border="false">
    <div region="west" split="true" title="数据字典" border="false" 
         style="width:300px;background-color: #fafafa;"
         data-options="headerCls:'panel-right-border',bodyCls:'panel-right-border'">
        <ul class="zenithsTree treeDic" fit="true" 
            data-url="@Url.Action("GetDictionaryTree")"
            data-parenturl="@Url.Action("SaveParent")"
            data-sorturl="@Url.Action("SaveSort")"
            ></ul>
    </div>
    <div region="center" border="false" title="字典明细" style="background-color: #fafafa;"
         data-options="headerCls:'panel-left-border',bodyCls:'panel-left-border'">

        <div class="container-zeniths">
            <div class="panel panel-default panel-zeniths">

                <div class="panel-body">
                    <div class="search-panel-zeniths">
                        <form class="form-inline search-form">
                            <div class="form-group">
                                <input class="w-250px form-control" id="detailsKey" name="detailsKey" type="text" placeholder="请输入字典明细项名称关键字查询">
                            </div>
                            &nbsp;
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-search"></i> 查询
                            </button>
                            <a class="btn btn-success" id="btnDetailsCreate" data-url="@Url.Action("CreateDetails")">
                                <i class="fa fa-plus"></i> 新建
                            </a>
                            <a class="btn btn-danger" id="btnDetailsDelete" data-url="@Url.Action("DeleteDetails")">
                                <i class="fa fa-trash-o"></i> 删除
                            </a>
                            <a class="btn btn-default" id="btnDetailsRefresh">
                                <i class="fa fa-repeat"></i> 刷新
                            </a>
                            <a class="btn btn-default" id="btnDetailsExport" data-url="@Url.Action("ExportDetails")">
                                <i class="fa fa-share-square-o"></i> 导出
                            </a>
                        </form>
                    </div>
                    <div class="datagrid" data-auto-load="false" data-url="@Html.Raw(Url.Action("DetailsGrid"))">
                    </div>
                    <!-- 右键菜单 -->
                    <div class="easyui-menu treeMenu" style="display:none">
                        <div id="btnTreeCreate" data-options="iconCls:'icon-add'" data-url="@Url.Action("CreateDictionary")">新建</div>
                        <div class="menu-sep"></div>
                        <div id="btnTreeEdit" data-options="iconCls:'icon-pencil'" data-url="@Url.Action("EditDictionary")">编辑</div>
                        <div class="menu-sep"></div>
                        <div id="btnTreeDelete" data-options="iconCls:'icon-delete'" data-url="@Url.Action("DeleteDictionary")">删除</div>
                        <div class="menu-sep"></div>
                        <div id="btnTreeRefresh" data-options="iconCls:'icon-reload'">刷新</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@section style{
    <link href="~/Plugin/jquery-easyui/css/icon.css" rel="stylesheet" />
}
@section script{
    <script src="~/areas/auth/Assets/js/system.dictionary.js"></script>
}
