@section style{
    <link href="~/Areas/WorkFlow/Assets/css/flow.css" rel="stylesheet" />
    <style>
        .GooFlow_tool_btn {
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
        }
    </style>
}
@section script{
    <script src="~/Areas/WorkFlow/Assets/js/flow.js"></script>
    <script src="~/Areas/WorkFlow/Assets/js/design.js"></script>
    <script>
        $(function () {
            flowDesign.init('@ViewBag.Id');
        });
    </script>
}

<div class="container-edit-zeniths">
    <div class="panel panel-default panel-zeniths">
        <div class="panel-heading">
            流程设计
            <div class="pull-right">
                <a class="btn btn-default btn-primary flowToolBtn" id="saveSetting">
                    <i class="fa fa-save"></i> 保存
                </a>
                <a class="btn btn-default flowToolBtn" id="flowSetting">
                    <i class="fa fa-cog"></i> 属性
                </a>
                <a class="btn btn-default flowToolBtn" id="flowUndo">
                    <i class="fa fa-reply"></i> 撤销
                </a>
                <a class="btn btn-default flowToolBtn" id="flowRedo">
                    <i class="fa fa-share"></i> 重做
                </a>
                <a class="btn btn-default flowToolBtn" id="flowReresh">
                    <i class="fa fa-repeat"></i> 刷新
                </a>
                <a class="btn btn-default flowToolBtn" id="flowBack">
                    <i class="fa fa-arrow-right"></i> 返回
                </a>
            </div>
        </div>
        <div class="panel-body">
            <div id="flowPanel"></div>
        </div>
    </div>
</div>
<input type="hidden" id="loadSettingUrl" value="@Html.Raw(Url.Action("LoadSetting"))" />
<input type="hidden" id="saveSettingUrl" value="@Html.Raw(Url.Action("SaveSetting"))" />
<input type="hidden" id="flowSettingUrl" value="@Html.Raw(Url.Action("FlowSetting"))" />
<input type="hidden" id="stepSettingUrl" value="@Html.Raw(Url.Action("StepSetting"))" />
<input type="hidden" id="lineSettingUrl" value="@Html.Raw(Url.Action("LineSetting"))" />