@model Flow
@{
    var title = "查看流程";
}
@section style{
    <link href="~/Areas/WorkFlow/Assets/css/flow.css" rel="stylesheet" />
}
@section script{
    <script src="~/Areas/WorkFlow/Assets/js/flow.js"></script>
    <script src="~/Areas/WorkFlow/Assets/js/design.js"></script>
    <script>
        $(function () {
            flowDesign.init('@ViewBag.Id');
        });
    </script>
}
<div class="container-edit-zeniths">
    <div class="panel panel-default panel-zeniths">
        <div class="panel-heading">
            @title
            <div class="pull-right">
                <a class="btn btn-default flowToolBtn" id="flowSetting">
                    <i class="fa fa-cog"></i> 属性
                </a>
                <a class="btn btn-default flowToolBtn" id="flowReresh">
                    <i class="fa fa-repeat"></i> 刷新
                </a>
            </div>
        </div>
        <div class="panel-body">
            <div id="flowPanel"></div>
        </div>
        <div class="panel-footer text-center">
            <div class="buttons">
                <a class="btn btn-default btnClose" onclick="zeniths.util.closeFrameDialog(window);">
                    <i class="fa fa-sign-in"></i> 关闭
                </a>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="loadSettingUrl" value="@Html.Raw(Url.Action("LoadSetting"))" />
<input type="hidden" id="flowSettingUrl" value="@Html.Raw(Url.Action("FlowSetting", new { read=1 }))" />
<input type="hidden" id="stepSettingUrl" value="@Html.Raw(Url.Action("StepSetting", new { read=1 }))" />
<input type="hidden" id="lineSettingUrl" value="@Html.Raw(Url.Action("LineSetting", new { read=1 }))" />