@model EmployeeLeave
@{
    var title = "销假管理";
}

<div class="container-edit-zeniths">
    <form class="editform" action="@Url.Action("UpdateCancelLeaveInfo")" method="POST" role="form">
        <div class="panel panel-default panel-zeniths">
            <div class="panel-heading">
                <span class="prefix"> <strong>@Model.Id</strong></span>
                @title
            </div>
            <div class="panel-body">
                @Html.AntiForgeryToken()
                <input type="hidden" name="@nameof(Model.Id)" value="@Model.Id" />
                <table class="table table-form table-dialog-form">
                    <tr>
                        <th>
                            <label class="control-label">姓名：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.EmployeeName</p>
                        </td>
                        <th>
                            <label class="control-label">部门：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.Deparment</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="control-label">岗位：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.Post</p>
                        </td>
                        <th>
                            <label class="control-label">请假类别：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.LeaveCategory</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="control-label">预计开始请假时间：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@DateTimeHelper.FormatDateHasSecond(Model.StartDatetime)</p>
                        </td>
                        <th>
                            <label class="control-label">预计结束请假时间：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@DateTimeHelper.FormatDateHasSecond(Model.EndDatetime)</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="control-label">请假事由：</label>
                        </th>
                        <td colspan="3">
                            <p class="form-control-static">@Model.Reason</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="control-label">请假天数：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.Days</p>
                        </td>
                        <th>
                            <label class="control-label">申请时间：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@DateTimeHelper.FormatDateHasSecond(Model.ApplyDateTime)</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="control-label">工作代理人是否同意：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Html.BoolLabelIsAgree(Model.JobAgentIsAudit)</p>
                        </td>
                        <th>
                            <label class="control-label">工作代理人意见：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.JobAgentOpinion</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="control-label">工作代理人签字：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.JobAgentSign</p>
                        </td>
                        <th>
                            <label class="control-label">工作代理人签字日期：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@DateTimeHelper.FormatDateHasSecond(Model.JobAgentSignDate)</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="control-label">部门负责人是否同意：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Html.BoolLabelIsAgree(Model.DepartmentManagerIsAudit)</p>
                        </td>
                        <th>
                            <label class="control-label">部门负责人意见：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.DepartmentManagerOpinion</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="control-label">部门负责人签字：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.DepartmentManagerSign</p>
                        </td>
                        <th>
                            <label class="control-label">部门负责人签字日期：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@DateTimeHelper.FormatDateHasSecond(Model.DepartmentManagerSignDate)</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="control-label">总经理是否同意：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Html.BoolLabelIsAgree(Model.GeneralManagerIsAudit)</p>
                        </td>
                        <th>
                            <label class="control-label">总经理意见：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.GeneralManagerOpinion</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="control-label">总经理签字：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.GeneralManagerSign</p>
                        </td>
                        <th>
                            <label class="control-label">总经理签字日期：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@DateTimeHelper.FormatDateHasSecond(Model.GeneralManagerSignDate)</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="control-label">实际开始请假时间：</label>
                        </th>
                        <td>
                            <input class="date-control form-control" id="@nameof(Model.RealStartDatetime)" name="@nameof(Model.RealStartDatetime)" value="@DateTimeHelper.FormatDateHasMinute(Model.RealStartDatetime)" type="text" />
                        </td>
                        <th>
                            <label class="control-label">实际结束请假时间：</label>
                        </th>
                        <td>
                            <input class="date-control form-control" id="@nameof(Model.RealEndDatetime)" name="@nameof(Model.RealEndDatetime)" value="@DateTimeHelper.FormatDateHasMinute(Model.RealEndDatetime)" type="text" />
                        </td>
                    </tr>     
                    <tr>
                        <th>
                            <label class="control-label">实休天数：</label>
                        </th>
                        <td>
                            <div class="input-icon right">
                                <input class="form-control" name="@nameof(Model.ActualDays)" value="@Model.ActualDays" type="text" />
                            </div>
                        </td>
                        <th>
                            <label class="control-label">销假时间：</label>
                        </th>
                        <td>
                            <input class="date-control form-control" name="@nameof(Model.CancelLeaveDateTime)" value="@DateTimeHelper.FormatDateHasMinute(Model.CancelLeaveDateTime)" type="text" />
                        </td>
                    </tr>                             
                </table>
            </div>
            <div class="panel-footer text-center">
                <div class="buttons">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i> 保存
                    </button>
                    &nbsp;
                    <a class="btn btn-default btnClose" onclick="zeniths.util.closeFrameDialog(window);">
                        <i class="fa fa-sign-in"></i> 关闭
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>

@section style{
    <link href="~/Plugin/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
}

@section script{
<script src="~/Plugin/bootstrap-daterangepicker/js/moment.min.js"></script>
<script src="~/Plugin/bootstrap-daterangepicker/js/zh-cn.js"></script>
<script src="~/Plugin/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script>

        $(function () {
            $('.editform').dataform().initDateTimePicker().initValidate({
                rules: {                  
                    RealStartDatetime: {
                        required: true                       
                    },
                    RealEndDatetime: {
                        required: true,
                        compareDate: "#RealStartDatetime"
                    },
                    ActualDays: {
                        required: true
                    }
                },
                messages: {                   
                    RealStartDatetime: {
                        required: '请选择实际开始请假时间'
                    },
                    RealEndDatetime: {
                        required: '请选择实际结束请假时间'
                    },
                    ActualDays: {
                        required: '请选择实际结束请假时间',
                        compareDate: "实际结束请假时间必须大于实际开始请假时间"
                    }
                },
                beforeSubmit: function () {
                }
            }).initAjax({ success: zeniths.util.formAjaxSuccess });

        });
    </script>
}