@model EmployeeLeave
@{
    var title = "编辑请休假申请";
}

<div class="container-edit-zeniths">
    <form class="editform" action="@Url.Action("Save")" method="POST" role="form">
        <div class="panel panel-default panel-zeniths">
            <div class="panel-heading">
                <span class="prefix"> <strong>@Model.Id</strong></span>
                @title
            </div>
            <div class="panel-body">
                @Html.AntiForgeryToken()
                <input type="hidden" name="@nameof(Model.Id)" value="@Model.Id" />
                <input type="hidden" name="@nameof(Model.EmployeeId)" value="@Model.EmployeeId" />
                <input type="hidden" name="@nameof(Model.DeparmentId)" value="@Model.DeparmentId" />
                <table class="table table-form table-dialog-form">                
                    <tr>
                        <th >
                            <label class="control-label">员工姓名：</label>
                        </th>
                        <td colspan="3">
                            <div class="input-icon right">
                                <input class="form-control" name="@nameof(Model.EmployeeName)" value="@Model.EmployeeName" type="text" readonly/>
                            </div>
                        </td>
                    </tr>                   
                    <tr>
                        <th >
                            <label class="control-label">部门名称：</label>
                        </th>
                        <td>
                            <div class="input-icon right">
                                <input class="form-control" name="@nameof(Model.Deparment)" value="@Model.Deparment" type="text" readonly/>
                            </div>
                        </td>
                        <th>
                            <label class="control-label">岗位：</label>
                        </th>
                        <td>
                            <div class="input-icon right">
                                <input class="form-control" name="@nameof(Model.Post)" value="@Model.Post" type="text" readonly />
                            </div>
                        </td>
                    </tr>                   
                    <tr>
                        <th>
                            <label class="control-label">请假类别：</label>
                        </th>
                        <td colspan="3">  
                            <div class="input-icon right">
                                <div class="radio-list">                                   
                                    <label class="radio-inline">
                                        <input class="iradiobox-control" name="@nameof(Model.LeaveCategory)" value="事假" type="radio">
                                        <span class="radio-label-name">事假</span>
                                    </label>
                                   
                                    @*@Zeniths.Hr.Utility.HtmlExtensions.LeaveCategoryOptitions()*@

                                    @*@{HtmlExtensions.LeaveCategoryOptitions("ddd")}*@
                                                       
                                </div>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">请假时间：</label>
                        </th>
                        <td colspan="3">
                            <div class="input-icon right">
                                自 <input class="date-control form-control" name="@nameof(Model.StartDatetime)" value="@Model.StartDatetime" type="text" />至
                                <input class="date-control form-control" name="@nameof(Model.EndDatetime)" value="@Model.EndDatetime" type="text" />&nbsp;&nbsp;&nbsp;&nbsp;共
                                <input class="form-control" name="@nameof(Model.Days)" value="@Model.Days" type="text" />天
                            </div>
                        </td>
                    </tr>                 
                    <tr>
                        <th >
                            <label class="control-label">请假事由：</label>
                        </th>
                        <td colspan="3">
                            <div class="input-icon right">
                                <textarea class="form-control" name="@nameof(Model.Reason)" rows="2">@Model.Reason</textarea>
                            </div>
                        </td>
                    </tr>        
                </table>
            </div>
            <div class="panel-footer text-center">
                <div class="buttons">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i> 保存
                    </button>
                    &nbsp;
                    <a class="btn btn-default btnClose" onclick="zeniths.util.closeFrameDialog(window);">
                        <i class="fa fa-sign-in"></i> 关闭
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>


@section style{
    <link href="~/Plugin/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
}

@section script{
<script src="~/Plugin/bootstrap-daterangepicker/js/moment.min.js"></script>
<script src="~/Plugin/bootstrap-daterangepicker/js/zh-cn.js"></script>
<script src="~/Plugin/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script>

        $(function () {
            //$('.editform').dataform().initSelect2().initiCheck().initDatePicker()
            $('.editform').dataform().initDatePicker().initValidate({
                rules: {                    
                    EmployeeName: {
                        required: true
                    },                    
                    LeaveCategory: {
                        required: true                       
                    }, 
                    StartDate: {
                        required: true                       
                    }, 
                    EndDate: {
                        required: true                       
                    }, 
                    Days: {
                        required: true                        
                    }
                },
                messages: {                  
                    EmployeeName: {
                        required: '员工姓名不能为空'
                    }, 
                    LeaveCategory: {
                        required: '请选择请假类别'                       
                    }, 
                    StartDate: {
                        required: '请选择预计请假开始时间'                       
                    }, 
                    EndDate: {
                        required: '请选择预计请假结束日期'
                    }, 
                    Days: {
                        required: '请填写请假天数'
                    }
                },
                beforeSubmit: function () {
                }
            }).initAjax({ success: zeniths.util.formAjaxSuccess });

        });
    </script>
}