@model EmployeeLeave
@{
    var title = Html.GetCurrentStepName();
    Layout = "~/Views/Shared/_LayoutWorkflow.cshtml";
}

<div class="container-edit-zeniths">
    <form  id="formReg" class="editform" action="@Html.GetFlowExecuteUrl()" method="POST" role="form">
        <div class="panel panel-default panel-zeniths">
            <div class="panel-heading">
                <span class="prefix"> <strong>@Model.Id</strong></span>
                @title
            </div>
            <div class="panel-body">
                @Html.AntiForgeryToken()
                <input type="hidden" name="@nameof(Model.Id)" value="@Model.Id" />
                <input type="hidden" name="@nameof(Model.EmployeeId)" value="@Model.EmployeeId" />
                <input type="hidden" name="@nameof(Model.DeparmentId)" value="@Model.DeparmentId" />
                <input type="hidden" id="FlowId" name="@nameof(Model.FlowId)" value="@ViewData["flowId"]" />
                <table class="table table-form table-dialog-form">
                    <tr>
                        <th class="w-120px">
                            <label class="required" aria-required="true"></label><label class="control-label">姓名：</label>
                        </th>
                        <td colspan="3">
                            <div class="input-icon right">
                                <input class="form-control w-300px" id="@nameof(Model.EmployeeName)" name="@nameof(Model.EmployeeName)" value="@Model.EmployeeName" type="text" readonly />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="required" aria-required="true"></label> <label class="control-label">部门：</label>
                        </th>
                        <td>
                            <div class="input-icon right">
                                <input class="form-control w-300px"  id="@nameof(Model.Deparment)" name="@nameof(Model.Deparment)" value="@Model.Deparment" type="text" readonly />
                            </div>
                        </td>
                        <th>
                            <label class="control-label">岗位：</label>
                        </th>
                        <td>
                            <div class="input-icon right">
                                <input class="form-control w-300px" id="@nameof(Model.Post)" name="@nameof(Model.Post)" value="@Model.Post" type="text" readonly />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="required" aria-required="true"></label><label class="control-label">请假类别：</label>
                        </th>
                        <td colspan="3">
                            <div class="input-icon right">
                                @Html.LeaveCategoryOptitions(nameof(Model.LeaveCategory), Model.LeaveCategory)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="required" aria-required="true"></label><label class="control-label">请假时间：</label>
                        </th>
                        <td colspan="3">
                            <div class="input-icon right">
                                <div class="input-icon right form-inline">
                                    自
                                    <input class="datetime-control form-control w-180px" id="@nameof(Model.StartDatetime)" name="@nameof(Model.StartDatetime)" value="@DateTimeHelper.FormatDateHasMinute(Model.StartDatetime)" type="text" />至
                                    <input class="datetime-control form-control w-180px" id="@nameof(Model.EndDatetime)" name="@nameof(Model.EndDatetime)" value="@DateTimeHelper.FormatDateHasMinute(@Model.EndDatetime)" type="text" />&nbsp;&nbsp;&nbsp;&nbsp;共
                                    <input class="form-control w-80px" id="@nameof(Model.Days)" name="@nameof(Model.Days)" value="@Model.Days" type="text" />天
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="required" aria-required="true"></label><label class="control-label">请假事由：</label>
                        </th>
                        <td colspan="3">
                            <div class="input-icon right">
                                <textarea class="form-control" name="@nameof(Model.Reason)" rows="3">@Model.Reason</textarea>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-footer text-center">
                <div class="buttons">                    
                    @*<a class="btn btn-outline btn-primary" id="DetailsSave" href="@Url.Action("Save", "EmployeeLeave")">
                        <i class="fa fa-save"></i> 保存
                    </a>*@     
                    <button class="btn btn-primary" name="Save" id="DetailsSave" type="button" >
                        <i class="fa fa-save"></i> 保存
                    </button>              
                    &nbsp;
                    <a class="btn btn-outline btn-danger btnWorkFlowSend">
                        <i class="fa fa-arrow-right"></i> 提交
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>

@section style{
    <link href="~/Plugin/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
}

@section script{
    <script src="~/Plugin/bootstrap-daterangepicker/js/moment.min.js"></script>
    <script src="~/Plugin/bootstrap-daterangepicker/js/zh-cn.js"></script>
    <script src="~/Plugin/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script>
        
        $(function () {
            $('#DetailsSave').click(function () {
                if ($('.editform').valid()) { //验证通过
                    $(document.body).mask('正在保存数据，请稍等...');
                    $('.editform').ajaxSubmit({
                        type: 'post',
                        url: '@Html.Raw(Url.Action("Save"))',
                        success: zeniths.util.formAjaxSuccess
                    });
                }
            });


            $('.editform').dataform().initiCheck().initDateTimePicker().initWorkFlow({
                saveCallback: function (wf, result) {
                    zeniths.util.formAjaxSuccess(result);
                },
                sendCallback: function (wf, result) {
                    //如果下一步骤的处理人是自己 则继续处理下一步骤
                    if (result.url) {
                        window.location.href = result.url;
                    } else {
                        //跳转到待办页面
                        zeniths.util.formAjaxSuccess(result);
                    }
                }
            }).initValidate({
                rules: {
                    EmployeeName: {
                        required: true
                    },
                    Deparment: {
                        required: true
                    },
                    LeaveCategory: {
                        required: true
                    },
                    StartDatetime: {
                        required: true
                    },
                    EndDatetime: {
                        required: true,
                        compareDate: "#StartDatetime",
                        compareDateHours: "#GoOutDateTime"
                    },
                    Days: {
                        required: true,
                        number:true
                    },
                    Reason: {
                        required: true
                    }
                },
                messages: {
                    EmployeeName: {
                        required: '员工姓名不能为空'
                    },
                    Deparment: {
                        required: '部门不能为空'
                    },
                    LeaveCategory: {
                        required: '请选择请假类别'
                    },
                    StartDatetime: {
                        required: '请选择请假开始时间'
                    },
                    EndDatetime: {
                        required: '请选择请假结束时间',
                        compareDate: '请假结束时间必须大于请假开始时间',
                        compareDateHours: "请假时间必须大于两个小时"
                    },
                    Days: {
                        required: '请填写请假天数',
                        number:'请填写数字'
                    },
                    Reason: {
                        required: '请填写请假事由'
                    }
                },
                beforeSubmit: function () {
                    return false;
                }
            })
        });
    </script>
}