@model Contract
@{
    var title = "合同详情";
}
@section style{
    <link href="~/Plugin/zeniths.web/css/form.layout.css" rel="stylesheet" />
}
<div class="container-edit-zeniths">
    <form class="editform" action="@Url.Action("Save")" method="POST" role="form">
        <div class="panel panel-default panel-zeniths">
            <div class="panel-heading">
                <span class="prefix"> <strong>@Model.Id</strong></span>
                @title
            </div>
            <div class="panel-body">
                @Html.AntiForgeryToken()
                <input type="hidden" name="@nameof(Model.Id)" value="@Model.Id" />

                <!--tab 代码 开始 -->
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#ContractInfo" data-toggle="tab">
                                合同基本信息
                            </a>
                        </li>
                        <li>
                            <a href="#ContractStepList" data-toggle="tab">
                                处理意见
                            </a>
                        </li>
                        <li>
                            <a href="#ContractStepimg" data-toggle="tab">
                                流程图
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="ContractInfo">合同基本信息内容</div>
                        <div class="tab-pane" id="ContractStepList">处理意见内容</div>
                        <div class="tab-pane" id="ContractStepimg">流程图内容</div>
                    </div>                    
                </div>
                <!-- tab 代码 结束 -->
                <div class="panel-footer text-center">
                    <div class="buttons">
                        <a class="btn btn-default btnClose" onclick="zeniths.util.closeFrameDialog(window);">
                            <i class="fa fa-sign-in"></i> 关闭
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>