@model FlowButton
@{
    var title = "查看流程按钮";
}

<div class="container-edit-zeniths">
    <div class="panel panel-default panel-zeniths">
        <div class="panel-heading">
            <span class="prefix"> <strong>@Model.Id</strong></span>
            @title
        </div>
        <div class="panel-body">
            <input type="hidden" name="@nameof(Model.Id)" value="@Model.Id" />
            <table class="table table-form table-dialog-form">
                <tr>
                    <th class='w-100px'><label class="control-label">名称：</label></th>
                    <td>
                        <p class="form-control-static">@Model.Name</p>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">样式：</label></th>
                    <td>
                        <p class="form-control-static">
                            <i class="@Model.IconClass fa-2x" style="color: @Model.IconColor"></i> @Model.IconClass
                        </p>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">颜色：</label></th>
                    <td>
                        <p class="form-control-static">@Model.IconColor</p>
                    </td>
                </tr>

                <tr>
                    <th><label class="control-label">脚本：</label></th>
                    <td>
                        <p class="form-control-static">@Model.Script</p>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">状态：</label></th>
                    <td>
                        <p class="form-control-static">@Html.BoolLabel(Model.IsEnabled)</p>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">序号：</label></th>
                    <td>
                        <p class="form-control-static">@Model.SortIndex</p>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">备注：</label></th>
                    <td>
                        <p class="form-control-static">@Model.Note</p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-footer text-center">
            <div class="buttons">
                <a class="btn btn-default btnClose" onclick="zeniths.util.closeFrameDialog(window);">
                    <i class="fa fa-sign-in"></i> 关闭
                </a>
            </div>
        </div>
    </div>
</div>
