@model HrBudget
@{
    var title = "查看部门预算";
}

<div class="container-edit-zeniths">
    <form class="editform" action="@Url.Action("Save")" method="POST" role="form">
        <div class="panel panel-default panel-zeniths">
            <div class="panel-heading">
                <span class="prefix"> <strong>@Model.Id</strong></span>
                @title
            </div>
            <div class="panel-body">
                @Html.AntiForgeryToken()
                <input type="hidden" name="@nameof(Model.Id)" value="@Model.Id" />
                <table class="table table-form table-dialog-form">
                
                    <tr>
                        <th class="w-100px">
                            <label class="control-label">任务标题：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.Title</p>
                        </td>
                        <th >
                            <label class="control-label">预算月份：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.BudgetMonth.ToString("yyyy年MM月")</p>
                        </td>
                    </tr>
                </table>
                <div class="datagrid" id="datagrid" data-url="@Html.Raw(Url.Action("../HrBudgetDetails/DetailsGrid",new { BudgetId = Model.Id}))">
                </div>
            <div class="panel-footer text-center">
            <div class="buttons">
                <a class="btn btn-default btnClose" onclick="zeniths.util.closeFrameDialog(window);">
                    <i class="fa fa-sign-in"></i> 关闭
                </a>
            </div>
        </div>
        </div>
    </form>
</div>