@model HrBudget
@{
    //var title = ViewData["Title"];
    var title = Html.GetCurrentStepName();
    Layout = "~/Views/Shared/_LayoutWorkflow.cshtml";
}

<div class="container-edit-zeniths">
    <form class="editform" id="form1" action="@Html.GetFlowExecuteUrl()" method="POST" role="form">
        <div class="panel panel-default panel-zeniths">
            <div class="panel-heading">
                <span class="prefix"> <strong id="Mid">@Model.Id</strong></span>
                @title
            </div>
            <div class="panel-body">
                @Html.AntiForgeryToken()
                <input type="hidden" id="Id" name="@nameof(Model.Id)" value="@Model.Id" />
                <input type="hidden" id="Status" name="@nameof(Model.Status)" value="0" />
                <input type="hidden" id="FlowId" name="@nameof(Model.FlowId)" value="@ViewData["flowId"]" />
                <table class="table table-form table-dialog-form">

                    <tr>
                        <th class="w-100px">
                            <label class="control-label">预算月份：</label>
                        </th>
                        <td class="w-200px">
                            <div class="input-icon right">
                                <input class="date-control form-control" id="BudgetMonth" name="@nameof(Model.BudgetMonth)" value="@Html.Write(Model.BudgetMonth==DateTime.MinValue,string.Empty,Model.BudgetMonth.Year.ToString()+"-"+Model.BudgetMonth.Month.ToString())" type="text" autocomplete="off" />
                            </div>
                        </td>
                        <th>
                            <a class="btn btn-success" id="btnDetailsCreate" data-url="@Url.Action("../HrBudgetDetails/Create")">
                                <i class="fa fa-plus"></i> 添加
                            </a>
                        </th>
                    </tr>
                </table>
                <div class="datagrid" id="datagrid" data-url="@Html.Raw(Url.Action("../HrBudgetDetails/Grid",new { BudgetId = Model.Id}))">
                </div>
                <div class="panel-footer text-center">
                    <div class="buttons">
                        <button class="btn btn-primary" name="Save" id="DetailsSave" value="1" type="button">
                            <i class="fa fa-save"></i> 保存
                        </button>
                        @*<button class="btn btn-primary" name="Submit" value="2" type="submit">
        <i class="fa fa-save"></i> 提交
    </button>*@  &nbsp;
                        <a class="btn btn-outline btn-danger btnWorkFlowSend">
                            <i class="fa fa-arrow-right"></i> 提交
                        </a>                        &nbsp;
                        <a class="btn btn-default btnClose" onclick="zeniths.util.closeFrameDialog(window);">
                            <i class="fa fa-sign-in"></i> 关闭
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@section script{
    <script>
        
        $(function () {
            //$('.editform').dataform().initSelect2().initiCheck().initDatePicker()
            $('#DetailsSave').on('click', function () {
                var id = $('#Id').val();
                if (id == 0) {
                    if ($('#BudgetMonth').val().length == 0) {
                        zeniths.util.alert("请先选择预算月份！");
                        return;
                    }
                }
                $.ajax({
                    cache: true,
                    type: 'POST',
                    url: 'Save',
                    data: $('#form1').serialize(),// 你的formid
                    async: false,
                    error: function (request) {
                    },
                    success: function (data) {
                        if (isNaN(data)) {
                            zeniths.util.alert(data);
                            return;
                        } else {
                            zeniths.util.callDialogCallback(window);
                            zeniths.util.closeFrameDialog(window);
                        }
                    }
                });
            });
            $('#btnDetailsCreate').on('click', function () {
                var id = $('#Id').val();
                if (id == 0) {
                    if ($('#BudgetMonth').val().length == 0) {
                        zeniths.util.alert("请先选择预算月份！");
                        return;
                    }
                    //如果预算信息没有保存，则先保存信息
                    $.ajax({
                        cache: true,
                        type: 'POST',
                        url: 'BudgetSave',
                        data: $('#form1').serialize(),// 你的formid
                        async: false,
                        error: function (request) {
                        },
                        success: function (data) {
                            if (isNaN(data)) {
                                zeniths.util.alert(data);
                                return;
                            } else {
                                $('#Id').val(data);
                                $('#Mid').html(data);
                                id = data;
                            }
                        }
                    });
                    if (id == 0) {
                        return;
                    } else {
                        zeniths.util.dialog($(this).data('url') + '?BudgetId=' + id, 700, 400, {
                            callback: function () {
                                $('#datagrid').datagrid().reload({ BudgetId: id });
                            }
                        });
                    }
                } else {
                    zeniths.util.dialog($(this).data('url') + '?BudgetId=' + id, 700, 400, {
                        callback: function () {
                            $('#datagrid').datagrid().reload({ BudgetId: id });
                        }
                    });
                }

            });
            //添加表单
            $('.editform').dataform().initWorkFlow({
                saveCallback: function (wf, result) {
                    zeniths.util.formAjaxSuccess(result);
                },
                sendCallback: function (wf, result) {
                    //如果下一步骤的处理人是自己 则继续处理下一步骤
                    if (result.url) {
                        window.location.href = result.url;
                    } else {
                        //跳转到待办页面
                        zeniths.util.formAjaxSuccess(result);
                    }
                }
            }).initDatePicker({
                format: "yyyy-mm",
                minViewMode: 'months'
            }).initValidate({
                rules: {
                    BudgetMonth: {
                        required: true
                    }
                },
                messages: {
                    BudgetMonth: {
                        required: '请填写预算月份'
                    }
                },
                beforeSubmit: function () {
                }
            }).initAjax({ success: zeniths.util.formAjaxSuccess });
            zeniths.util.standardGridBind({
                editWidth: 700,
                editHeight: 400,
                viewWidth: 700,
                viewHeight: 400
            });

        });
    </script>
}