@model HrBudget
@{
    var title = "编辑部门预算";
}

<div class="container-edit-zeniths">
    <form class="editform" action="@Url.Action("Save")" method="POST" role="form">
        <div class="panel panel-default panel-zeniths">
            <div class="panel-heading">
                <span class="prefix"> <strong>@Model.Id</strong></span>
                @title
            </div>
            <div class="panel-body">
                @Html.AntiForgeryToken()
                <input type="hidden" id="Id" name="@nameof(Model.Id)" value="@Model.Id" />
                <table class="table table-form table-dialog-form">
                
                    <tr>
                        <th class="w-100px">
                            <label class="control-label">任务标题：</label>
                        </th>
                        <td>
                            <div class="input-icon right">
                                <input class="form-control" name="@nameof(Model.Title)" value="@Model.Title" type="text" />
                            </div>
                        </td>
                        <th >
                            <label class="control-label">预算月份：</label>
                        </th>
                        <td>
                            @*<input class="date-control form-control" name="@nameof(Model.BudgetMonth)" value="@Model.BudgetMonth" type="text" />*@
                            <div class="input-icon right">
                                <input class="datetime-control form-control" name="@nameof(Model.BudgetMonth)" value="@Model.BudgetMonth" type="text" autocomplete="off" />
                            </div>
                        </td>
                        <th>
                            <a class="btn btn-success" id="btnCreate" data-url="@Url.Action("../HrBudgetDetails/Create")">
                                    <i class="fa fa-plus"></i> 添加
                            </a>
                        </th>           
                    </tr>
                </table>
                <div class="datagrid" data-url="@Html.Raw(Url.Action("../HrBudgetDetails/Grid",new { BudgetId = Model.Id}))" data-query-form=".search-form">
                </div>
            <div class="panel-footer text-center">
                <div class="buttons">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i> 保存
                    </button>
                    &nbsp;
                    <a class="btn btn-default btnClose" onclick="zeniths.util.closeFrameDialog(window);">
                        <i class="fa fa-sign-in"></i> 关闭
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
@section style{
    <link href="~/Plugin/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
}
@section script{
<script src="~/Plugin/bootstrap-daterangepicker/js/moment.min.js"></script>
<script src="~/Plugin/bootstrap-daterangepicker/js/zh-cn.js"></script>
<script src="~/Plugin/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script>

        $(function () {
            //$('.editform').dataform().initSelect2().initiCheck().initDatePicker()
            $('.editform').dataform().initDateTimePicker().initiCheck().initValidate({
                rules: {
                    Title: {
                        required: true
                        /*,maxlength: 100
                          ,digits: true
                        */
                    }, 
                    BudgetMonth: {
                        required: true
                        /*,maxlength: 100
                          ,digits: true
                        */
                    }
                },
                messages: {
                    Title: {
                        required: '请填写任务标题'
                        /*,maxlength: '长度不能超过100'
                          ,digits: '只能输入正整数'
                        */
                    }, 
                    BudgetMonth: {
                        required: '请填写预算月份'
                        /*,maxlength: '长度不能超过100'
                          ,digits: '只能输入正整数'
                        */
                    }
                },
                beforeSubmit: function () {
                }
            }).initAjax({ success: zeniths.util.formAjaxSuccess });
                zeniths.util.standardGridBind({
                    editWidth: 700,
                    editHeight: 400,
                    viewWidth: 700,
                    viewHeight: 400,
                    loadCallback: function () {
                        //返回确认事件
                        $('#btnCreate').on('click', function () {
                            zeniths.util.dialog($(this).data('url'), 700, 400, {
                                callback: function () {
                                    reloadData();
                                }
                            });
                        });
                    }

                });
        });
    </script>
}