@{
    var title = "管理部门预算";
}
<div class="container-zeniths">
    <div class="panel panel-default panel-zeniths">
        <div class="panel-heading">
            @title
        </div>
        <div class="panel-body">
            <div class="search-panel-zeniths">
                <form class="form-inline search-form" id="form1">
                    <div class="form-group">
                        <label class="control-label">预算月份：</label>@*<input class="w-300px form-control" name="year" type="text" placeholder="请选择年份">*@
                        <input class="date-control form-control" id="BudgetMonth" name="BudgetMonth" placeholder="请选择预算月份" type="text" autocomplete="off" />
                        <label class="control-label">预算部门：</label>
                        <input class="w-180px form-control" id="DepartmentName" name="DepartmentName" type="text" placeholder="请选择预算部门">
                        <label class="control-label">预算状态：</label>
                        <select class="select2-control w-200px form-control"  id="status" name="status"  data-placeholder="请选择预算状态">
                        <option></option>
                        </select>
                    </div>
                    &nbsp;
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i> 查询
                    </button>
                    <a class="btn btn-success" id="btnCreate" data-url="@Html.GetFlowStartUrl(Request.QueryString["flowId"])">
                        <i class="fa fa-plus"></i> 新建
                    </a>
                    @*<a class="btn btn-danger" id="btnDelete" data-url="@Url.Action("Delete")">
                        <i class="fa fa-trash-o"></i> 删除
                    </a>*@
                    <a class="btn btn-default" id="btnRefresh">
                        <i class="fa fa-repeat"></i> 刷新
                    </a>
                    <a class="btn btn-default" href="@Url.Action("Export")">
                        <i class="fa fa-share-square-o"></i> 导出
                    </a>
                    <input type="hidden" id="type" name="type" value="@ViewData["type"]" />
                </form>
            </div>
            <div class="datagrid" data-url="@Html.Raw(Url.Action("Grid",new { type=ViewData["type"] }))" data-query-form=".search-form">
            </div>
        </div>
    </div>
</div>

@section script
{
    <script>
        $(function () {
            $('#form1').dataform().initDatePicker({
                format: "yyyy-mm",
                minViewMode: 'months'
            }).initValidate({
                beforeSubmit: function () {
                }
            }).initAjax({ success: zeniths.util.formAjaxSuccess });

            zeniths.util.standardGridBind({
                editWidth: 900,
                editHeight: 700,
                viewWidth: 900,
                viewHeight: 700
            });
        });
    </script>
}
