@{
    var title = "加班申请";
}
<div class="container-zeniths">
    <div class="panel panel-default panel-zeniths">
        <div class="panel-heading">
            @title
        </div>
        <div class="panel-body">
            <div class="search-panel-zeniths">
                <form class="form-inline search-form">
                    <div class="form-group">
                        加班日期：<input class="date-control form-control" name="@nameof(EmployeeOvertime.StartDatetime)" type="text" />&nbsp;至
                        <input class="date-control form-control" name="StartEndDatetime" type="text" />
                        申请日期：<input class="date-control form-control" name="@nameof(EmployeeOvertime.ApplyDateTime)" type="text" />
                        状态：<select class="select2-control w-200px form-control" id="Status" name="@nameof(EmployeeOvertime.Status)" data-placeholder="请选择状态">
                            <option></option>
                            @Html.EmployeeOvertimeOptions()
                        </select>
                    </div>
                    &nbsp;
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i> 查询
                    </button>
                    <a class="btn btn-success" id="btnCreate" data-url="@Html.GetFlowStartUrl(Request.QueryString["flowId"])">
                        <i class="fa fa-plus"></i> 申请
                    </a>
                </form>
            </div>
            <div class="datagrid" data-url="@Html.Raw(Url.Action("Grid"))" data-query-form=".search-form">
            </div>
        </div>
    </div>
</div>

@section script
{
    <script>
        $(function () {
            zeniths.util.standardGridBind({
                editWidth: 900,
                editHeight: 700,
                viewWidth: 900,
                viewHeight: 700
            });
        });
    </script>
}
