@model EmpLeave
@{
    var title = "查看员工请假";
}

<div class="container-edit-zeniths">
    <form class="editform" action="@Url.Action("Save")" method="POST" role="form">
        <div class="panel panel-default panel-zeniths">
            <div class="panel-heading">
                <span class="prefix"> <strong>@Model.Id</strong></span>
                @title
            </div>
            <div class="panel-body">
                @Html.AntiForgeryToken()
                <input type="hidden" name="@nameof(Model.Id)" value="@Model.Id" />
                <table class="table table-form table-dialog-form">
                
                    <tr>
                        <th class="w-100px">
                            <label class="control-label">开始日期：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.StartDate</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">结束日期：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.EndDate</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">天数：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.Days</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">类型：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.Category</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">原因：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.Reason</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">任务名称：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.Title</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">流程主键：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.FlowId</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">流程名称：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.FlowName</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">流程实例主键：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.FlowInstanceId</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">步骤主键：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.StepId</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">步骤名称：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.StepName</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">流程是否完成：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Html.BoolLabel(Model.IsFinish)</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">创建用户主键：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.CreateUserId</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">创建用户姓名：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.CreateUserName</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">创建人部门主键：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.CreateDepartmentId</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">创建人部门姓名：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.CreateDepartmentName</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">创建时间：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@DateTimeHelper.FormatDateHasSecond(Model.CreateDateTime)</p>
                        </td>
                    </tr>
                                    
                </table>
            </div>
            <div class="panel-footer text-center">
            <div class="buttons">
                <a class="btn btn-default btnClose" onclick="zeniths.util.closeFrameDialog(window);">
                    <i class="fa fa-sign-in"></i> 关闭
                </a>
            </div>
        </div>
        </div>
    </form>
</div>