@model PageList<EmpLeave>
@{
    Layout = null;
}
<table class="table table-zeniths table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="w-200px" data-order="@nameof(EmpLeave.Title)">任务名称</th>
            <th class="w-100px" data-order="@nameof(EmpLeave.StartDate)">开始日期</th>
            <th class="w-100px" data-order="@nameof(EmpLeave.EndDate)">结束日期</th>
            <th class="w-100px" data-order="@nameof(EmpLeave.Days)">天数</th>
            <th class="w-100px" data-order="@nameof(EmpLeave.Category)">类型</th>
            <th class="w-100px" data-order="@nameof(EmpLeave.FlowName)">流程名称</th>
            <th class="w-100px" data-order="@nameof(EmpLeave.StepName)">步骤名称</th>
            <th class="w-80px text-center">操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model)
        {
            <tr class="cursor-pointer" data-url="@Url.Action("Details",new {id = record.Id})">
                <td>@record.Title</td>
                <td>@DateTimeHelper.FormatDate(record.StartDate)</td>
                <td>@DateTimeHelper.FormatDate(record.EndDate)</td>
                <td>@record.Days</td>
                <td>@record.Category</td>
                <td>@record.FlowName</td>
                <td>@record.StepName</td>
                <td>
                    <a class="btn btn-default btn-xs purple-stripe btnRecordView" data-url="@Url.Action("Details",new {id = record.Id})">
                        <i class="fa fa-eye"></i> 查看
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.RenderPages(Model)