@model EmpLeaveModel
@{
    var title = Html.GetCurrentStepName();
    Layout = "~/Views/Shared/_LayoutWorkflow.cshtml";
}

<div class="container-edit-zeniths">
    <form class="editform" action="@Html.GetFlowExecuteUrl()" method="POST" role="form">
        <div class="panel panel-default panel-zeniths">
            <div class="panel-heading">
                @title
            </div>
            <div class="panel-body">
                @Html.AntiForgeryToken()

                <input type="hidden" name="@nameof(Model.Id)" value="@Model.Id" />
                <table class="table table-form table-dialog-form">

                    <tr>
                        <th class="w-200px">
                            <label class="control-label">开始日期：</label>
                        </th>
                        <td>
                            <div class="input-icon right">
                                <input class="date-control form-control" name="@nameof(Model.StartDate)" value="@Model.StartDate" type="text" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="control-label">结束日期：</label>
                        </th>
                        <td>
                            <div class="input-icon right">
                                <input class="date-control form-control" name="@nameof(Model.EndDate)" value="@Model.EndDate" type="text" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="control-label">天数：</label>
                        </th>
                        <td>
                            <div class="input-icon right">
                                <input class="form-control" name="@nameof(Model.Days)" value="@Model.Days" type="text" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="control-label">类型：</label>
                        </th>
                        <td>
                            <div class="input-icon right">
                                @Html.Raw(AuthHelper.BuildDicRadioBoxList("EmpLeaveCategory", nameof(Model.Category), Model.Category))
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="control-label">原因：</label>
                        </th>
                        <td>
                            <div class="input-icon right">
                                <input class="form-control" name="@nameof(Model.Reason)" value="@Model.Reason" type="text" />
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-footer text-center">
                <div class="buttons">
                    @*<a class="btn btn-outline btn-primary btnWorkFlowSave">
                        <i class="fa fa-save"></i> 保存
                    </a>
                    &nbsp;*@
                    <a class="btn btn-outline btn-danger btnWorkFlowSend">
                        <i class="fa fa-arrow-right"></i> 发送
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>

@section script{
    <script>
        $(function () {

            //流程回调
            var wfCallback = {
                sendCallback: function (wf,result) {
                    //如果下一步骤的处理人是自己 则继续处理下一步骤
                    if (result.url) {
                        window.location.href = result.url;
                    } else {
                        //跳转到待办页面
                        window.location.href = '@Url.Action("PendingTasks","FlowTask",new { area ="WorkFlow"})';
                    }
                }
            };

            //验证规则
            var validRule = {
                rules: {
                    StartDate: {
                        required: true
                    },
                    EndDate: {
                        required: true
                    },
                    Days: {
                        required: true,
                        digits: true
                    },
                    Category: {
                        required: true
                    }
                },
                messages: {
                    StartDate: {
                        required: '请填写开始日期'
                    },
                    EndDate: {
                        required: '请填写结束日期'
                    },
                    Days: {
                        required: '请填写天数',
                        digits: '只能输入正整数'

                    },
                    Category: {
                        required: '请填写类型'
                    }
                },
                beforeSubmit: function () {
                }
            };

            $('.editform').dataform().initDatePicker().initiCheck()
                .initWorkFlow(wfCallback).initValidate(validRule);
        });
    </script>
}