@model SystemDoc
@{
    var title = "编辑系统文档";
}

<div class="container-edit-zeniths">
    <form class="editform" action="@Url.Action("Save")" method="POST" role="form">
        <div class="panel panel-default panel-zeniths">
            <div class="panel-heading">
                <span class="prefix"> <strong>@Model.Id</strong></span>
                @title
            </div>
            <div class="panel-body">
                @Html.AntiForgeryToken()
                <input type="hidden" name="@nameof(Model.Id)" value="@Model.Id" />
                <input type="hidden" name="@nameof(Model.CreateDateTime)" value="@Model.CreateDateTime" />
                <table class="table table-form table-dialog-form">
                    <tr>
                        <th class='w-120px'>
                            <label class="control-label">标题：</label>
                        </th>
                        <td>
                            <div class="input-icon right">
                                <input class="form-control" name="@nameof(Model.Name)" value="@Model.Name" type="text" placeholder="请输入文档标题" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="control-label">标签：</label>
                        </th>
                        <td>
                            <div class="input-icon right">
                                <input class="tag-control form-control" name="@nameof(Model.Tag)" value="@Model.Tag" type="text" placeholder="请输入分类标签" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">内容：</label></th>
                        <td>
                            <textarea class="editor-control form-control" name="@nameof(Model.Contents)" rows="5">@Model.Contents</textarea>
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">上传附件：</label></th>
                        <td>
                            <input id="fileInput1" name="fileInput1" type="file" class="file-loading" multiple >
                            <input id="fileInput2" name="fileInput2" type="file" class="file-loading" multiple >
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-footer text-center">
                <div class="buttons">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i> 保存
                    </button>
                    &nbsp;
                    <a class="btn btn-default btnClose" onclick="zeniths.util.closeFrameDialog(window);">
                        <i class="fa fa-sign-in"></i> 关闭
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>

@section style{
    <link href="~/Plugin/jquery-tags-input/jquery.tagsinput.min.css" rel="stylesheet" />
    <link href="~/Plugin/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
}
@section script{
    <script src="~/Plugin/jquery-tags-input/jquery.tagsinput.min.js"></script>
    <script src="~/Plugin/kindeditor/kindeditor-min.js"></script>
    <script src="~/Plugin/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js"></script>

    <script src="~/Plugin/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script src="~/Plugin/bootstrap-fileinput/js/fileinput_locale_zh.js"></script>
    <script>

        $(function () {

            $('.editform').dataform().initSelect2().initTagsInput({
                'height': '60px',
                'width': '100%',
                'defaultText': '添加标签'
            }).initKindEditor().initValidate({
                rules: {
                    Name: {
                        required: true,
                        maxlength: 100
                    }
                },
                messages: {
                    Name: {
                        required: '请输入文档标题',
                        maxlength: '文档标题长度不能超过100'
                    }
                },
                beforeSubmit: function () {
                }
            }).initAjax({ success: zeniths.util.formAjaxSuccess });

            //初始化文件上传

            // with plugin options
            $("#fileInput1,#fileInput2").fileinput({
                language: "zh",
                uploadUrl: '@Url.Action("UploadFile")',
                showCaption: false,
                showRemove: false,
                showUpload: false,
                showClose: false,
                maxFileCount:20 
                @*
                uploadAsync: true,
                overwriteInitial: false,
                //maxFileSize: 100,
                initialCaption: "The Moon and the Earth",
                previewFileIcon: '<i class="fa fa-file"></i>',
                allowedPreviewTypes: ['image', 'video', 'audio', 'flash'], // allow only preview of image & text files
                previewFileIconSettings: {
                    'doc': '<i class="fa fa-file-word-o text-primary"></i>',
                    'docx': '<i class="fa fa-file-word-o text-primary"></i>',
                    'xls': '<i class="fa fa-file-excel-o text-success"></i>',
                    'xlsx': '<i class="fa fa-file-excel-o text-success"></i>',
                    'pptx': '<i class="fa fa-file-powerpoint-o text-danger"></i>',
                    'jpg': '<i class="fa fa-file-photo-o text-warning"></i>',
                    'pdf': '<i class="fa fa-file-pdf-o text-danger"></i>',
                    'zip': '<i class="fa fa-file-archive-o text-muted"></i>',
                    'ppt': '<i class="fa fa-file-powerpoint-o text-danger"></i>',
                    'htm': '<i class="fa fa-file-code-o text-info"></i>',
                    'txt': '<i class="fa fa-file-text-o text-info"></i>',
                    'mov': '<i class="fa fa-file-movie-o text-warning"></i>',
                    'mp3': '<i class="fa fa-file-audio-o text-warning"></i>'
                },
                //previewSettings: {
                //    image: { width: "160px", height: "160px" },
                //    html: { width: "160px", height: "160px" },
                //    text: { width: "160px", height: "160px" },
                //    video: { width: "160px", height: "160px" },
                //    audio: { width: "160px", height: "160px" },
                //    flash: { width: "160px", height: "160px" },
                //    object: { width: "160px", height: "160px" },
                //    other: { width: "160px", height: "160px" }
                //},
                uploadExtraData: {
                    resName: "1000",
                    resId: "abc"
                },
                initialPreview: [
                    '<img src="/UploadFiles/a.jpg" class="file-preview-image" alt="Desert" title="Desert">',
                    '<img src="/UploadFiles/b.jpg" class="file-preview-image" alt="Desert" title="Desert">'
                ]*@
            });

        });
    </script>
}