@model PageList<EmployeeNotClock>
@{
    Layout = null;
}
<table class="table table-zeniths table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="w-checkbox">
                <label><input class="checkbox-check" type="checkbox"><span></span></label>
            </th>            
            <th class="w-100px" data-order="@nameof(EmployeeNotClock.EmployeeId)">员工主键</th>
            <th class="w-100px" data-order="@nameof(EmployeeNotClock.EmployeeName)">员工姓名</th>
            <th class="w-100px" data-order="@nameof(EmployeeNotClock.NotClockDate)">未打卡日期</th>
            <th class="w-100px" data-order="@nameof(EmployeeNotClock.NotClockClasses)">未打卡班次1上午2下午</th>
            <th class="w-100px" data-order="@nameof(EmployeeNotClock.Reason)">事由</th>
            <th class="w-100px" data-order="@nameof(EmployeeNotClock.CreateUserId)">创建用户主键</th>
            <th class="w-100px" data-order="@nameof(EmployeeNotClock.CreateUserName)">创建用户姓名</th>
            <th class="w-100px" data-order="@nameof(EmployeeNotClock.CreateDepartmentId)">创建人部门主键</th>
            <th class="w-100px" data-order="@nameof(EmployeeNotClock.CreateDepartmentName)">创建人部门姓名</th>
            <th class="w-100px" data-order="@nameof(EmployeeNotClock.CreateDateTime)">创建时间</th>
            <th class="w-120px text-center">操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model)
        {
            <tr class="cursor-pointer" data-url="@Url.Action("Details",new {id = record.Id})">
                <td>
                    <label><input class="checkbox-check" type="checkbox" value="@record.Id"><span></span></label>
                </td>
                <td>@record.EmployeeId</td>
                <td>@record.EmployeeName</td>
                <td class="text-center">@DateTimeHelper.FormatDateHasSecond(record.NotClockDate)</td>
                <td>@record.NotClockClasses</td>
                <td>@record.Reason</td>
                <td>@record.CreateUserId</td>
                <td>@record.CreateUserName</td>
                <td>@record.CreateDepartmentId</td>
                <td>@record.CreateDepartmentName</td>
                <td class="text-center">@DateTimeHelper.FormatDateHasSecond(record.CreateDateTime)</td>
                <td>
                    <a class="btn btn-default btn-xs purple-stripe btnRecordView" data-url="@Url.Action("Details",new {id = record.Id})">
                        <i class="fa fa-eye"></i> 查看
                    </a>
                    <a class="btn btn-default btn-xs green-stripe btnRecordEdit" data-url="@Url.Action("Edit",new {id = record.Id})">
                        <i class="fa fa-edit"></i> 编辑
                    </a>
                    <a class="btn btn-default btn-xs red-stripe btnRecordDelete" data-url="@Url.Action("Delete",new {id = record.Id})">
                        <i class="fa fa-trash-o"></i> 删除
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.RenderPages(Model)