@model DailyReimburse
@{
    var title = "查看日常费用报销";
}

<div class="container-edit-zeniths">
    <form class="editform" action="@Url.Action("Save")" method="POST" role="form">
        <div class="panel panel-default panel-zeniths" style="height: 685px">
            <div class="panel-heading">
                <span class="prefix"> <strong>@Model.Id</strong></span>
                @title
            </div>
            <div class="panel-body" style="height: 580px">
                @Html.AntiForgeryToken()
                <input type="hidden" name="@nameof(Model.Id)" value="@Model.Id" />

                <table class="table table-form table-dialog-form">
                    <tr>
                        <th>
                            <label class="control-label">报销部门：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.ReimburseDepartmentName</p>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <label class="control-label">经办人：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.ApplicantName</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="control-label">申请情况说明：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.ApplyOpinion</p>
                        </td>
                    </tr>


                </table>

                <div class="panel panel-default panel-zeniths">

                    <div class="panel-body" style="height: 415px;overflow-x: hidden; overflow-y: auto;">
                        <div class="datagrid" data-url="@Html.Raw(Url.Action("AllViewGrid","DailyReimburse",new {area="HR"}))" id="detailGrid"></div>
                    </div>

                </div>


            </div>
            <div class="panel-footer text-center">
                <div class="buttons">
                    <a class="btn btn-default btnClose" onclick="zeniths.util.closeFrameDialog(window);">
                        <i class="fa fa-sign-in"></i> 关闭
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>