@model DailyReimburse
@{
    var title = Html.GetCurrentStepName();
    Layout = "~/Views/Shared/_LayoutWorkflow.cshtml";
    var currentStep = Html.GetCurrentStep();
}

<div class="container-edit-zeniths" style="overflow-x: hidden; overflow-y: auto;">
    <form class="editform" action="@Html.GetFlowExecuteUrl()" method="POST" role="form">
        <div class="panel panel-default panel-zeniths" style="height: 685px; overflow-x: hidden; overflow-y: auto;">
            <div class="panel-heading">
                <span class="prefix"> <strong>@Model.Id</strong></span>
                @title
            </div>
            <div class="panel-body" style="height: 580px; overflow-x: hidden; overflow-y: auto;">
                @Html.AntiForgeryToken()
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#DealBase" data-toggle="tab">
                                基本信息
                            </a>
                        </li>
                        <li>
                            <a href="#DealOpinion" data-toggle="tab">
                                处理意见
                            </a>
                        </li>
                        <li>
                            <a href="#DealFlow" data-toggle="tab">
                                流程图
                            </a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="DealBase" style="overflow-x: hidden; overflow-y: auto;">
                            <table class="table table-form table-dialog-form">
                                <tr>
                                    <th class="w-130px">
                                        <label class="control-label">报销部门：</label>
                                    </th>
                                    <td>
                                        <p class="form-control-static">@Model.ReimburseDepartmentName</p>
                                    </td>

                                    <th>
                                        <label class="control-label">经办人：</label>
                                    </th>
                                    <td>
                                        <p class="form-control-static">@Model.ApplicantName</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label class="control-label">申请情况说明：</label>
                                    </th>
                                    <td colspan="3">
                                        <p class="form-control-static">@Model.ApplyOpinion</p>
                                    </td>
                                </tr>
                            </table>
                            <fieldset>
                                <legend>费用明细</legend>
                                @Html.Action("DetailGrid", new { dailyId=Model.Id })
                            </fieldset>
                            <fieldset>
                                <legend>附件</legend>
                                @Html.Action("Files", "System", new { area = "Auth", resName = nameof(DailyReimburse), resId = Model.Id, allowDelete = false })
                            </fieldset>
                        </div>

                        <div class="tab-pane" id="DealOpinion" style="overflow-x: hidden; overflow-y: auto;">
                            @Html.Action("InstanceTasks", "FlowTask", new { area = "WorkFlow", flowInstanceId = Model.FlowInstanceId })
                        </div>
                        <div class="tab-pane" id="DealFlow" style="overflow-x: hidden; overflow-y: auto;">
                            @Html.Action("TaskImage", "FlowTask", new { area = "WorkFlow", flowInstanceId = Model.FlowInstanceId })
                        </div>

                    </div>
                </div>

                <table class="table table-form table-dialog-form">
                    @if (!currentStep.Uid.Equals(WorkFlowHelper.GetLastStepId(Request.QueryString["flowId"])))
                    {
                        <tr>
                            <th class="w-100px">
                                <label class="control-label">处理意见：</label>
                            </th>
                            <td>
                                <textarea class="form-control" name="workflow_opinion" rows="3"></textarea>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>

                            <th>
                                <label class="control-label">领款人：</label>
                            </th>
                            <td>
                                <div class="input-icon right">
                                    @*<input class="form-control" name="@nameof(Model.ItemName)" value="@Model.ItemName" id="ItemName" type="text" readonly/>*@
                                    <select class="select2-control w-500px form-control" name="@nameof(Model.DrawMoneyId)" id="ItemId" data-placeholder="请选择领款人">
                                        <option></option>
                                        @Html.AllEmployeeCategoryOptions(Model.DrawMoneyId.ToString());
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="control-label">领款金额：</label>
                            </th>
                            <td>
                                <div class="input-icon right">
                                    <input class="form-control" name="@nameof(Model.DrawMoney)" value="@Model.DrawMoney" type="text" />
                                </div>
                            </td>
                        </tr>
                    }
                </table>

            </div>

            <div class="panel-footer text-center">
                <div class="buttons">

                    @if (currentStep.Uid.Equals(WorkFlowHelper.GetLastStepId(Request.QueryString["flowId"])))
                    {
                    <a class="btn btn-outline btn-primary btnWorkFlowCompleted">
                        <i class="fa fa-check"></i> 完成
                    </a>
                    }
                    else
                    {
                    <a class="btn btn-outline btn-danger btnWorkFlowBack">
                        <i class="fa fa-arrow-left"></i> 驳回
                    </a>

                    <a class="btn btn-outline btn-success btnWorkFlowSend">
                        审核通过
                        <i class="fa fa-arrow-right"></i>
                    </a>
                    }

                    @*<a class="btn btn-default btnClose" onclick="zeniths.util.closeFrameDialog(window);">
                            <i class="fa fa-sign-in"></i> 关闭
                        </a>*@
                </div>
            </div>
        </div>
    </form>
</div>




@section script{
    <script>

        $(function () {
            //$('.editform').dataform().initSelect2().initiCheck().initDatePicker()
            $('.editform').dataform().initSelect2().initWorkFlow({
                sendCallback: function (wf, result) {
                    //如果下一步骤的处理人是自己 则继续处理下一步骤
                    if (result.url) {
                        window.location.href = result.url;
                    } else {
                        //跳转到待办页面
                        zeniths.util.formAjaxSuccess(result);
                        //window.location.href = '@Url.Action("PendingTasks", "FlowTask", new {area = "WorkFlow"})';
                    }
                }
            }).initValidate({
                rules: {
                    EmployeeId: {
                        required: true
                    }
                },
                messages: {
                    EmployeeId: {
                        required: '请填写员工主键'
                    }
                },
                beforeSubmit: function () {
                }
            }).initAjax({ success: zeniths.util.formAjaxSuccess });

        });
    </script>
}