@model DailyReimburse
@{
    var title = ViewBag.Title;
    var detailTile = "添加费用明细";
}

<div class="container-edit-zeniths">
    <form class="editform" action="@Url.Action("Save")" method="POST" role="form">
        <div class="panel panel-default panel-zeniths" style="height: 685px">
            <div class="panel-heading">
                <span class="prefix"> <strong>@Model.Id</strong></span>
                @title
            </div>
            <div class="panel-body" style="height: 580px">
                @Html.AntiForgeryToken()
                <input type="hidden" name="@nameof(Model.Id)" value="@Model.Id"/>
                <input type="hidden" name="clickAction" id="clickAction" value="@ViewBag.Action"/>
                <table class="table table-form table-dialog-form">

                    <tr>
                        <th >
                            <label class="control-label">报销部门：</label>
                        </th>
                        <td>
                            <div class="input-icon right">
                                <input class="form-control" name="@nameof(Model.ReimburseDepartmentName)" value="@Model.ReimburseDepartmentName" type="text" readonly />
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th >
                            <label class="control-label">经办人：</label>
                        </th>
                        <td>
                            <div class="input-icon right">
                                <input class="form-control" name="@nameof(Model.ApplicantName)" value="@Model.ApplicantName" type="text" readonly/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">申请情况说明：</label>
                        </th>
                        <td>
                            <div class="input-icon right">
                                <textarea class="form-control" name="@nameof(Model.ApplyOpinion)" value="@Model.ApplyOpinion" type="text">@Model.ApplyOpinion</textarea>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="panel panel-default panel-zeniths">
                    <div class="panel-heading">
                        @*<span class="prefix"> <strong>@Model.Id</strong></span>*@
                        @detailTile
                        <div class="pull-right">
                            <a class="btn btn-xs btn-success" id="btnDetailCreate" data-url="@Url.Action("Create", "DailyReimburseDetails", new {area = "HR"})" onclick="newDetailWindow();">
                                <i class="fa fa-plus"></i> 新建
                            </a>
                            <a class="btn btn-xs btn-danger" id="btnDetailDelete" data-url="@Url.Action("Delete", "DailyReimburseDetails", new {area = "HR"})" onclick="deleteDetailData();">
                                <i class="fa fa-trash-o"></i> 删除
                            </a>
                        </div>
                    </div>
                    
                        <div class="panel-body" style="height: 341px;overflow:auto">

                            <div class="datagrid" data-url="@Html.Raw(Url.Action("DetailGrid", "DailyReimburse", new {area = "HR"}))" id="detailGrid"></div>

                        </div>
                       

                    </div>

                </div>

          
                <div class="panel-footer text-center">
                    <div class="buttons">
                        <button class="btn btn-primary" type="submit">
                            <i class="fa fa-save"></i> 保存
                        </button>
                        &nbsp;
                        <a class="btn btn-default btnClose" onclick="zeniths.util.closeFrameDialog(window);">
                            <i class="fa fa-sign-in"></i> 关闭
                        </a>
                    </div>
                </div>
            </div>
    </form>
</div>
<div class="search-form"></div>

@section script{
    <script>
        
        /*
          验证表单数据
        */
        function beforSave() {
            
            var tCount = $('#detailGrid').find('tbody tr').length;
           
            if (tCount <= 0) {
                zeniths.util.alert('请添加费用明细');
                return false;
            }

            return true;
        };
       
        /*
          打开新建窗口
        */
        function newDetailWindow() {
            zeniths.util.dialog($('#btnDetailCreate').data('url'), 900, 360, {
                callback: function() {
                    $('#detailGrid').datagrid().reload();

                }
            });
        };
        /*
         删除选择数据
        */
        function deleteDetailData() {

            zeniths.util.deleteBatch($('#btnDetailDelete').data('url'), $('#detailGrid').datagrid().getSelectedIds(), function () {
                $('#detailGrid').datagrid().reload();
            });

            //var delUrl = $('#btnDetailDelete').data('url');
            //var delParam = $('#detailGrid').datagrid().getSelectedIds();
            //alert(delParam);
            //if (delParam == null || delParam.length == 0) {
            //    zeniths.util.alert('请选择要删除的数据');
            //    return;
            //}
            //$.post(delUrl, { id: delParam }, function (data) {
            //    if (data.success) {
            //        zeniths.util.alert('删除成功');
            //        $('#detailGrid').datagrid().reload();
            //    }
            //});

        };

        $(function () {
            zeniths.util.standardGridBind({
                editWidth: 900,
                editHeight: 360,
                viewWidth: 900,
                viewHeight: 360
            });

            //$('.editform').dataform().initSelect2().initiCheck().initDatePicker()
            $('.editform').dataform().initValidate({
                rules: {
                    ReimburseDepartmentName: {
                        required: true
                        /*,maxlength: 100
                          ,digits: true
                        */
                    },
                    ApplicantName: {
                        required: true
                        /*,maxlength: 100
                          ,digits: true
                        */
                    },
                    ApplyOpinion: {
                        required: true
                        /*,maxlength: 100
                          ,digits: true
                        */
                    }
                },
                messages: {
                    ReimburseDepartmentName: {
                        required: '请填写报销部门名称'
                        /*,maxlength: '长度不能超过100'
                          ,digits: '只能输入正整数'
                        */
                    },

                    ApplicantName: {
                        required: '请填写经办人姓名'
                        /*,maxlength: '长度不能超过100'
                          ,digits: '只能输入正整数'
                        */
                    },
                    ApplyOpinion: {
                        required: '请填写申请情况说明'
                        /*,maxlength: '长度不能超过100'
                          ,digits: '只能输入正整数'
                        */
                    }
                },
                beforeSubmit: function () {
                    return beforSave();
                }
            }).initAjax({ success: zeniths.util.formAjaxSuccess });

        });
    </script>
}