@model PageList<DailyReimburse>
@{
    Layout = null;
}
<table class="table table-zeniths table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="w-checkbox">
                <label><input class="checkbox-check" type="checkbox"><span></span></label>
            </th>          
            <th class="w-100px" data-order="@nameof(DailyReimburse.ReimburseDepartmentName)">报销部门名称</th>
           
            <th class="w-100px" data-order="@nameof(DailyReimburse.ApplicantName)">经办人姓名</th>
            <th class="w-100px" data-order="@nameof(DailyReimburse.ApplyOpinion)">申请情况说明</th>
            <th class="w-100px" data-order="@nameof(DailyReimburse.ApplicationDate)">填表日期</th>
            <th class="w-100px" data-order="@nameof(DailyReimburse.BorrowMoney)">借款数</th>
            <th class="w-100px" data-order="@nameof(DailyReimburse.RefundMoney)">应退金额</th>
            <th class="w-100px" data-order="@nameof(DailyReimburse.AfterBackMoney)">应补金额</th>
            <th class="w-100px" data-order="@nameof(DailyReimburse.Note)">备注</th>
          
            <th class="w-120px text-center">操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model)
        {
            <tr class="cursor-pointer" data-url="@Url.Action("Details",new {id = record.Id})">
                <td>
                    <label><input class="checkbox-check" type="checkbox" value="@record.Id"><span></span></label>
                </td>
           
                <td>@record.ReimburseDepartmentName</td>
          
                <td>@record.ApplicantName</td>
                <td>@record.ApplyOpinion</td>
                <td class="text-center">@DateTimeHelper.FormatDateHasSecond(record.ApplicationDate)</td>
                <td>@record.BorrowMoney</td>
                <td>@record.RefundMoney</td>
                <td>@record.AfterBackMoney</td>
                <td>@record.Note</td>
                <td>
                    <a class="btn btn-default btn-xs purple-stripe btnRecordView" data-url="@Url.Action("Details",new {id = record.Id})">
                        <i class="fa fa-eye"></i> 查看
                    </a>
                    <a class="btn btn-default btn-xs green-stripe btnRecordEdit" data-url="@Url.Action("Edit",new {id = record.Id})">
                        <i class="fa fa-edit"></i> 编辑
                    </a>
                    <a class="btn btn-default btn-xs red-stripe btnRecordDelete" data-url="@Url.Action("Delete",new {id = record.Id})">
                        <i class="fa fa-trash-o"></i> 删除
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.RenderPages(Model)