@model WorkFlowForm
@{
    var title = "管理流程表单";
}
<div class="container-zeniths">
    <div class="panel panel-default panel-zeniths">
        <div class="panel-heading">
            @title
        </div>
        <div class="panel-body">
            <div class="search-panel-zeniths">
                <form class="form-inline search-form">
                    <div class="form-group">
                        <input class="w-200px form-control" name="@nameof(WorkFlowForm.Name)" type="text" placeholder="请输入表单名称关键字查询">
                    </div>
                    <div class="form-group">
                        <select class="select2-control w-200px form-control" name="@nameof(WorkFlowForm.Category)" data-placeholder="请选择表单分类">
                            <option></option>
                            @WorkFlowSelectOptions.WorkFlowFormCategory()
                        </select>
                    </div>
                    &nbsp;
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i> 查询
                    </button>
                    <a class="btn btn-success" id="btnCreate" data-url="@Url.Action("Create")">
                        <i class="fa fa-plus"></i> 新建
                    </a>
                    <a class="btn btn-danger" id="btnDelete" data-url="@Url.Action("Delete")">
                        <i class="fa fa-trash-o"></i> 删除
                    </a>
                    <a class="btn btn-default" id="btnRefresh">
                        <i class="fa fa-repeat"></i> 刷新
                    </a>
                    <a class="btn btn-default" href="@Url.Action("Export")">
                        <i class="fa fa-share-square-o"></i> 导出
                    </a>
                </form>
            </div>
            <div class="datagrid" data-url="@Html.Raw(Url.Action("Grid"))" data-query-form=".search-form">
            </div>
        </div>
    </div>
</div>

@section script
{
    <script>

        //初始化表格
        function initGrid() {
            $('.datagrid').datagrid({
                onLoadSuccess: function () {

                    //编辑记录事件
                    $('.btnRecordEdit').on('click', function () {
                        editData($(this).data('url'));
                    });

                    //行双击事件
                    $('table>tbody>tr').on('dblclick', function () {
                        var url = $(this).data('url') ;
                        viewData(url);
                    });

                    //删除记录事件
                    $('.btnRecordDelete').on('click', function () {
                        zeniths.util.delete($(this).data('url'), function () {
                            reloadData();
                        });
                    });

                }
            });
        }
        
        //刷新数据
        function reloadData() {
            $('.datagrid').datagrid().reload();
        }

        //数据编辑
        function editData(url) {
            zeniths.util.dialog(url, 600, 480, {
                callback: function () {
                    reloadData();
                }
            });
        }

        //数据查看
        function viewData(url) {
            zeniths.util.dialog(url, 800, 430);
        }

        $(function () {

            //初始化表格
            initGrid();

            //初始化查询表单下拉控件
            $('.search-form').dataform().initSelect2();

            //绑定刷新事件
            $('#btnRefresh').on('click', function () {
                reloadData();
            });

            //绑定新建事件
            $('#btnCreate').on('click', function () {
                editData($(this).data('url'));
            });

            //绑定批量删除事件
            $('#btnDelete').on('click', function () {
                zeniths.util.deleteBatch($(this).data('url'), datagrid.getSelectedIds(), function () {
                    reloadData();
                });
            });

        });

    </script>
}
