@{
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
    var currentUser = OrganizeHelper.GetCurrentUser();
}
@section style
{
    @Styles.Render("~/easyui-tab-tree-css")
    <link href="~/plugin/jquery-easyui/css/icon.css" rel="stylesheet" />
    <link href="~/Areas/Auth/assets/css/default.css" rel="stylesheet" />
}
@section script
{
    @Scripts.Render("~/easyui-tab-tree-js")
    <script src="~/Plugin/zeniths.web/js/date.format.js"></script>
    <script src="~/plugin/layer/layer.js"></script>
    <script>layer.config({ extend: 'extend/layer.ext.js' });</script>
    <script src="~/Areas/Auth/assets/js/default.js"></script>
}
<div class="easyui-layout" fit="true">
    <div data-options="region:'north'" class="header">
        <div class="logo">
            <img src="~/Areas/Auth/assets/css/images/maintitle.png" alt="Logo">
        </div>

        <div class="topbar">
            <div class="userinfo">
                欢迎您：<span id="userNameInfo">@currentUser.Name</span>&nbsp;
                <span id="IPInfo">@WebHelper.GetClientIP()</span>&nbsp;
                <span id="timeInfo">@DateTimeHelper.FormatDateHasSecond(DateTime.Now)</span>
            </div>
            <ul class="menu">
                <li class="item"><a id="btnUserInfo" data-url="@Url.Action("Details","SystemUser", new { area="Auth",id=currentUser.Id })">个人信息</a></li>
                <li class="item"><a id="btnModifyPassowrd">修改密码</a></li>
                <li class="item"><a id="btnHelper">帮助中心</a></li>
                <li class="item"><a id="btnLogout" href="@Url.Action("Logout")">安全退出</a></li>
            </ul>
        </div>
    </div>
    <div data-options="region:'west',split:true" title="导航菜单" style="width:200px; background-color: #fafafa;">
        <div>
            <ul class="zenithsTree menuTree" data-url="@Url.Action("GetMenuTree")"></ul>
        </div>
    </div>
    <div data-options="region:'center'">
        <div id="tabs" class="easyui-tabs" fit="true" border="false">
        </div>
    </div>
    <div data-options="region:'south'" class="footer">
        操作系统：<span id="statusSystem"></span>&nbsp;&nbsp;
        浏览器：<span id="statusBrowser"></span>&nbsp;&nbsp;
        分辨率：<span id="statusScreen"></span>&nbsp;&nbsp;
        正得信股份 &copy;@DateTime.Now.Year
    </div>
</div> 