@model OAWorkLogShare
@{
    var title = "查看工作日志分享人";
}

<div class="container-edit-zeniths">
    <form class="editform" action="@Url.Action("Save")" method="POST" role="form">
        <div class="panel panel-default panel-zeniths">
            <div class="panel-heading">
                <span class="prefix"> <strong>@Model.Id</strong></span>
                @title
            </div>
            <div class="panel-body">
                @Html.AntiForgeryToken()
                <input type="hidden" name="@nameof(Model.Id)" value="@Model.Id" />
                <table class="table table-form table-dialog-form">
                
                    <tr>
                        <th class="w-100px">
                            <label class="control-label">分享日志主键：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.WorkLogId</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">分享人主键：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.ShareUserId</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">分享人姓名：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.ShareUserName</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">分享人部门主键：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.ShareDepartmentId</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">分享人部门名称：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.ShareDepartmentName</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">是否反馈：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Html.BoolLabel(Model.IsFeedback)</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">反馈信息：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.FeedbackInfomation</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">反馈时间：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@DateTimeHelper.FormatDateHasSecond(Model.FeedbackDateTime)</p>
                        </td>
                    </tr>
                                    
                </table>
            </div>
            <div class="panel-footer text-center">
            <div class="buttons">
                <a class="btn btn-default btnClose" onclick="zeniths.util.closeFrameDialog(window);">
                    <i class="fa fa-sign-in"></i> 关闭
                </a>
            </div>
        </div>
        </div>
    </form>
</div>