@using Zeniths.Hr.Entity
@model PageList<OAWorkLogExtend>
@{
    Layout = null;
}
<table class="table table-zeniths table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="w-checkbox">
                    <label><input class="checkbox-check" type="checkbox"><span></span></label>
                </th>
                <th class="w-100px text-center" data-order="@nameof(OAWorkLogExtend.LogDate)">日志日期</th>
                <th class="w-100px text-center" data-order="@nameof(OAWorkLogExtend.ShareUserName)">员工姓名</th>
                <th class="w-100px text-center" data-order="@nameof(OAWorkLogExtend.ShareDepartmentName)">部门名称</th>
                <th class="w-100px text-center" data-order="@nameof(OAWorkLogExtend.IsFeedback)">反馈情况</th>
                <th class="w-100px text-center" data-order="@nameof(OAWorkLogExtend.FeedbackInfomation)">反馈信息</th>
                <th class="w-100px text-center" data-order="@nameof(OAWorkLogExtend.FeedbackDateTime)">反馈时间</th>
                <th class="w-120px text-center">操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model)
            {
                <tr class="cursor-pointer" data-url="@Url.Action("Details",new {id = record.Id})">
                    <td>
                        <label><input class="checkbox-check" type="checkbox" value="@record.Id"><span></span></label>
                    </td>
                    <td>@record.LogDate</td>
                    <td>@record.ShareUserName</td>
                    <td>@record.ShareDepartmentName</td>
                    <td class="text-center">@Html.BoolLabel(record.IsFeedback)</td>
                    <td>@record.FeedbackInfomation</td>
                    <td class="text-center">@DateTimeHelper.FormatDateHasSecond(record.FeedbackDateTime)</td>
                    <td>
                        <a class="btn btn-default btn-xs purple-stripe btnRecordView" data-url="@Url.Action("Details",new {id = record.Id})">
                            <i class="fa fa-eye"></i> 查看
                        </a>
                        <a class="btn btn-default btn-xs green-stripe btnRecordEdit" data-url="@Url.Action("Edit",new {id = record.Id})">
                            <i class="fa fa-edit"></i> 编辑
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

@Html.RenderPages(Model)



