@*@model PageList<BaseUser>
@{
    Layout = null;
}
<table class="table table-zeniths table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="w-checkbox">
                <label><input class="checkbox-check" type="checkbox"><span></span></label>
            </th>
            <th class="w-p20" data-order="@nameof(BaseUser.UserName)">账号 @Html.BuildOrderImage(nameof(BaseUser.UserName))</th>
            <th class="w-p30" data-order="@nameof(BaseUser.RealName)">姓名 @Html.BuildOrderImage(nameof(BaseUser.RealName))</th>
            <th class="w-p30" data-order="@nameof(BaseUser.LogOnCount)">登陆次数 @Html.BuildOrderImage(nameof(BaseUser.LogOnCount))</th>
            <th class="w-p10" data-order="@nameof(BaseUser.Enabled)">状态 @Html.BuildOrderImage(nameof(BaseUser.Enabled))</th>
            <th class="w-p10" data-order="@nameof(BaseUser.SortCode)">序号 @Html.BuildOrderImage(nameof(BaseUser.SortCode))</th>
            <th class="w-10px">操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model)
            {
            <tr>
                <td>
                    <label><input class="checkbox-check" type="checkbox" value="@record.Id"><span></span></label>
                </td>
                <td>@record.UserName</td>
                <td>@record.RealName</td>
                <td>@record.LogOnCount</td>
                <td>@record.Enabled</td>
                <td>@record.SortCode</td>
                <td>
                    <a class="btn btn-default btn-xs red-stripe delete">
                        <i class="fa fa-trash-o"></i> 删除
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.RenderPages(Model)
*@

