@model DailyReimburseDetails
@{
    var title = "查看日常费用报销明细";
}

<div class="container-edit-zeniths">
    <form class="editform" action="@Url.Action("Save")" method="POST" role="form">
        <div class="panel panel-default panel-zeniths">
            <div class="panel-heading">
                <span class="prefix"> <strong>@Model.Id</strong></span>
                @title
            </div>
            <div class="panel-body">
                @Html.AntiForgeryToken()
                <input type="hidden" name="@nameof(Model.Id)" value="@Model.Id" />
                <table class="table table-form table-dialog-form">
                
                    <tr>
                        <th class="w-100px">
                            <label class="control-label">报销主表主键：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.ReimburseId</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">项目名称：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.ItemName</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">费用类别主键：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.CategoryId</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">费用类别名称：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.CategoryName</p>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">费用金额：</label>
                        </th>
                        <td>
                            <p class="form-control-static">@Model.Amount</p>
                        </td>
                    </tr>
                                    
                </table>
            </div>
            <div class="panel-footer text-center">
            <div class="buttons">
                <a class="btn btn-default btnClose" onclick="zeniths.util.closeFrameDialog(window);">
                    <i class="fa fa-sign-in"></i> 关闭
                </a>
            </div>
        </div>
        </div>
    </form>
</div>