@model DailyReimburseDetails
@{
    var title = "编辑日常费用报销明细";
}

<div class="container-edit-zeniths">
    <form class="editform" action="@Url.Action("Save")" method="POST" role="form">
        <div class="panel panel-default panel-zeniths">
            <div class="panel-heading">
                @*<span class="prefix"> <strong>@Model.Id</strong></span>*@
                @title
            </div>
            <div class="panel-body">
                @Html.AntiForgeryToken()
                <input type="hidden" name="@nameof(Model.Id)" id="@nameof(Model.Id)" value="@Model.Id"/>
                <input type="hidden" name="@nameof(Model.CategoryName)" id="CategoryName" value="@Model.CategoryName"/>
                <input type="hidden" name="@nameof(Model.TempSortNum)" id="TempSortNum" value="@Model.TempSortNum" />
                <table class="table table-form table-dialog-form">
                    <tr>
                        <th>
                            <label class="control-label">费用类别：</label>
                        </th>
                        <td>
                            <div>
                                <select class="select2-control w-500px form-control" name="@nameof(Model.CategoryId)" id="CategoryId" data-placeholder="请选择费用类别" onchange="selectChange();">
                                    <option></option>
                                    @Html.DailyReimburseDetailCategoryOptions(Model.CategoryId.ToString());
                                </select>
                            </div>


                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">项目名称：</label>
                        </th>
                        <td>
                            <div class="input-icon right">
                                <input class="form-control" name="@nameof(Model.ItemName)" value="@Model.ItemName" id="ItemName" type="text" readonly/>
                            </div>
                        </td>
                    </tr>
                   
                   
                    <tr>
                        <th >
                            <label class="control-label">费用金额：</label>
                        </th>
                        <td>
                            <div class="input-icon right">
                                <input class="form-control" name="@nameof(Model.Amount)" value="@Model.Amount" type="text" />
                            </div>
                        </td>
                    </tr>
                                    
                </table>
            </div>
            <div class="panel-footer text-center">
                <div class="buttons">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i> 保存
                    </button>
                    &nbsp;
                    <a class="btn btn-default btnClose" onclick="zeniths.util.closeFrameDialog(window);">
                        <i class="fa fa-sign-in"></i> 关闭
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>


@section script{
    <script>

        $(function () {
            //$('.editform').dataform().initiCheck().initDatePicker()
            $('.editform').dataform().initSelect2().initValidate({
                rules: {
                  
                    ItemName: {
                        required: true
                        /*,maxlength: 100
                          ,digits: true
                        */
                    }, 
                    CategoryId: {
                        required: true
                        /*,maxlength: 100
                          ,digits: true
                        */
                    }, 
                    Amount: {
                        required: true
                        /*,maxlength: 100*/
                        ,number: true
                        ,min:0
                        
                    } 
                },
                messages: {
                    ItemName: {
                        required: '请填写项目名称'
                        /*,maxlength: '长度不能超过100'
                          ,digits: '只能输入正整数'
                        */
                    }, 
                    CategoryId: {
                        required: '请填写费用类别'
                        /*,maxlength: '长度不能超过100'
                          ,digits: '只能输入正整数'
                        */
                    }, 
                    Amount: {
                        required: '请填写费用金额'
                        /*,maxlength: '长度不能超过100'*/
                          ,number: '只能输入数字'
                          ,min:'不能小于0'
                    } 
                },
                beforeSubmit: function () {
                    var cName = $('#CategoryId option:selected').text();
                    $('#CategoryName').val(cName);
                }
            }).initAjax({ success: zeniths.util.formAjaxSuccess });

        });

        function selectChange() {
            var selText = $('#CategoryId').find('option:selected').text();
            $('#ItemName').val(selText);
        };
    </script>
}