@using System.Globalization
@model DailyReimburseDetails
@{
    var title = "费用明细";
}

<div class="container-edit-zeniths">
    <form class="editform">
        <div class="panel panel-default panel-zeniths">
            <div class="panel-heading">
                @title
            </div>
            <div class="panel-body">
                <table class="table table-form table-dialog-form">
                    <tr></tr>
                    <tr>
                        <th class="w-100px">
                            <label class="control-label">项目名称：</label>
                        </th>
                        <td>
                            <div class="input-icon right">
                                <select class="select2-control form-control" id="@nameof(Model.ItemId)" name="@nameof(Model.ItemId)" >
                                    <option></option>
                                    @Html.DailyReimburseDetailCategoryOptions(Model.ItemId.ToString());
                                </select>
                            </div>
                        </td>
                    </tr>


                    <tr>
                        <th>
                            <label class="control-label">费用金额：</label>
                        </th>
                        <td>
                            <div class="input-icon right">
                                <input class="form-control" id="@nameof(Model.Amount)" name="@nameof(Model.Amount)"
                                       value="@Html.Write(Model.Amount==0,string.Empty,Model.Amount.ToString(CultureInfo.InvariantCulture))" type="text" />
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
            <div class="panel-footer text-center">
                <div class="buttons">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i> 保存
                    </button>
                    &nbsp;
                    <a class="btn btn-default btnClose" onclick="zeniths.util.closeFrameDialog(window);">
                        <i class="fa fa-sign-in"></i> 关闭
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>


@section script{
    <script>

        $(function() {

            var windowId = zeniths.util.GetUrlQuery('windowId');
            var parentWindow = top.frames[windowId];

            $('.editform').dataform().initSelect2().initValidate({
                rules: {
                    ItemId: {
                        required: true
                    },
                    Amount: {
                        required: true,
                        number: true,
                        min: 1
                    }
                },
                messages: {
                    ItemId: {
                        required: '请填写项目名称'
                    },
                    Amount: {
                        required: '请填写费用金额',
                        number: '只能输入数字',
                        min: '不能小于等于0'
                    }
                },
                beforeSubmit: function() {

                    var ops = $('#ItemId option:selected');
                    var itemId = ops.val();
                    var itemName = ops.text().substr(2);
                    var categoryName = ops.parent().attr('label');
                    var amount = $('#Amount').val();

                    var has = false;

                    $.each(parentWindow.subData, function(i, v) {
                        if (v.ItemId == itemId) {
                            has = true;
                            return false;
                        }
                    });

                    if (has) {
                        zeniths.util.alert('指定的费用项目已经存在');
                    } else {
                        var record = new parentWindow.subRecord(itemId, itemName, categoryName, amount);
                        parentWindow.addSubRow(record);
                        zeniths.util.closeFrameDialog(window);
                    }

                    return false;
                }
            });
        });

    </script>
}