@model HrBudgetDetails
@{
    var title = ViewData["Title"];
}

<div class="container-edit-zeniths">
    <form class="editform" action="@Url.Action("Save")" method="POST" role="form">
        <div class="panel panel-default panel-zeniths">
            <div class="panel-heading">
                <span class="prefix"> <strong>@Model.Id</strong></span>
                @title
            </div>
            <div class="panel-body">
                @Html.AntiForgeryToken()
                <input type="hidden" name="@nameof(Model.Id)" value="@Model.Id" />
                <input type="hidden" name="@nameof(Model.BudgetId)" value="@Model.BudgetId" />
                <table class="table table-form table-dialog-form">
                
                    @*<tr>
                        <th class="w-100px">
                            <label class="control-label">预算主键：</label>
                        </th>
                        <td>
                            <div class="input-icon right">
                                <input class="form-control" name="@nameof(Model.BudgetId)" value="@Model.BudgetId" type="text" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">预算类别主键：</label>
                        </th>
                        <td>
                            <div class="input-icon right">
                                <input class="form-control" name="@nameof(Model.BudgetCategoryId)" value="@Model.BudgetCategoryId" type="text" />
                            </div>
                        </td>
                    </tr>*@
                    <tr>
                        @*<th >
                            <label class="control-label">项目类别：</label>
                        </th>
                        <td colspan="3">
                            <div class="input-icon right">
                                <select class="select2-control w-200px form-control" onchange="CategoryName()" id="BudgetCategoryId" name="@nameof(Model.BudgetCategoryId)"  data-placeholder="请选择预算类型">
                                    <option></option>
                                </select>
                                <input type="hidden" id="BudgetCategoryName" name="BudgetCategoryName" value="" />
                            </div>
                        </td>
                        </tr>
                    <tr>
                        <th>
                            <label class="control-label">项目名称：</label>
                        </th>
                        <td colspan="3">
                            <div class="input-icon right">
                                <select class="select2-control w-200px form-control" onchange="CategoryItemName()" id="BudgetItemId" name="@nameof(Model.BudgetItemId)" data-placeholder="请选择预算项目">
                                    <option></option>
                                </select>
                                <input type="hidden" id="BudgetItemName" name="BudgetItemName" value="" />
                            </div>
                        </td>*@
                        <th><label class="control-label">项目名称：</label></th>
                        <td>
                            <select class="select2-control w-500px form-control" name="@nameof(Model.BudgetItemId)" id="BudgetItemId" data-placeholder="请选择项目名称">
                                <option></option>
                                @Html.DailyReimburseDetailCategoryOptions(Model.BudgetItemId.ToString());
                           </select>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="control-label">预算金额：</label>
                        </th>
                        <td colspan="3">
                            <div class="input-icon right">
                                <input class="form-control" name="@nameof(Model.BudgetMoney)" value="@Model.BudgetMoney" type="text" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th >
                            <label class="control-label">备注：</label>
                        </th>
                        <td colspan="3">
                            <div class="input-icon right">
                                @*<input class="form-control" name="@nameof(Model.Note)" value="@Model.Note" type="text" />*@
                                <textarea class="form-control" name="@nameof(Model.Note)">@Model.Note</textarea>
                            </div>
                        </td>
                    </tr>
                                    
                </table>
            </div>
            <div class="panel-footer text-center">
                <div class="buttons">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i> 保存
                    </button>
                    &nbsp;
                    <a class="btn btn-default btnClose" onclick="zeniths.util.closeFrameDialog(window);">
                        <i class="fa fa-sign-in"></i> 关闭
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>


@section script{
    <script>

        $(function () {
            //$('.editform').dataform().initSelect2().initiCheck().initDatePicker()
            $('.editform').dataform().initSelect2().initValidate({
                rules: {
                    BudgetCategoryName: {
                        required: true
                        /*,maxlength: 100
                          ,digits: true
                        */
                    },
                    BudgetItemName: {
                        required: true
                        /*,maxlength: 100
                          ,digits: true
                        */
                    },
                    BudgetMoney: {
                        required: true,
                        number:true,
                        maxlength: 7
                    },
                    Note:{
                        maxlength:1000
                    }
                },
                messages: {
                    BudgetCategoryId: {
                        required: '请选择预算类别'
                        /*,maxlength: '长度不能超过100'
                          ,digits: '只能输入正整数'
                        */
                    },
                    BudgetItemId: {
                        required: '请选择预算项目'
                        /*,maxlength: '长度不能超过100'
                          ,digits: '只能输入正整数'
                        */
                    },
                    BudgetMoney: {
                        required: '请填写预算金额'
                        ,maxlength: '预算金额不能超过一千万'
                        ,number: '只能输入金额类型'
                    },
                    Note:{
                        maxlength: '备注信息长度必须在一千字符内'
                    }
                },
                beforeSubmit: function () {
                }
            }).initAjax({ success: zeniths.util.formAjaxSuccess });
            //加载类别
            GetBudgetCategory("1", "0",@Model.BudgetCategoryId);
            if (@Model.BudgetCategoryId!=0) {
                GetBudgetCategory("2", @Model.BudgetCategoryId,@Model.BudgetItemId);
            }
        });
        //当预算类别更改后加载预算项目
        function CategoryName()
        {
            var cName = $("#BudgetCategoryId").find("option:selected").text();
            $('#BudgetCategoryName').val(cName.substr(2, cName.length));
            GetBudgetCategory("2", $("#BudgetCategoryId").val());
        }
        function CategoryItemName()
        {
            var cName = $("#BudgetItemId").find("option:selected").text();
            $('#BudgetItemName').val(cName.substr(2, cName.length));
        }
        //加载预算类别
        function GetBudgetCategory(ParentId, Id,Selected)
        {
            var val="";
            var txt="";
            $.ajax({
                cache: false,
                type:'GET',
                dataType: 'json',
                url: '@Url.Action("GetBudgetCategory")',
                data:{ParentId:ParentId,id:Id,Selected:Selected},
                error: function (request) {
                },
                success: function (data) {
                    var json = eval(data);
                    var optionstring = '<option></option>';
                    for (var item in json) {
                        if (json[item].change=='1') {
                            txt=json[item].txt;
                            val=json[item].val;
                            optionstring += '<option value=\"' + json[item].val + '\" selected=\"selected\" >' + json[item].txt + '</option>';
                        }else{
                            optionstring += '<option value=\"' + json[item].val + '\" >' + json[item].txt + '</option>';
                        }
                        
                    }
                    
                    if (Id=="0") {
                        if (Selected!="0")
                        {
                            $('#select2-BudgetCategoryId-container').html(txt);
                            $('#BudgetCategoryName').val(txt.substr(2, txt.length));
                        }
                        $('#BudgetCategoryId').html(optionstring);
                    } else {
                        if (Selected!="0")
                        {
                            $('#select2-BudgetItemId-container').html(txt);
                            $('#BudgetItemName').val(txt.substr(2, txt.length));
                        }
                        $('#BudgetItemId').html(optionstring);
                    }
                }
            });
        }
    </script>
}